[2019-02-06 09:52] kytwb opened #1 "Remove app delay if user has no supporter license"
https://github.com/kytwb/franz/blob/da92cd426cbf350313945e3459f96638a79bd44e/src/stores/FeaturesStore.js#L55

[2019-02-13 15:11] #1 closed

[2019-03-26 06:42] igreil opened #2 "Naming conflict"
The fork and modification of "Franz" is much appreciated, but the name should probably be changed as well.

I propose "Ferdl", which is short for Ferdinand. (Ferdinand I was the successor of Francis (Franz) II as emperor of Austria.) Keeping both the first letter as well as the overall number of letters should help adoption and recognition.

[2019-03-26 08:14] marcolopes commented on #2
Also, a logo change would be nice! The original logo is really ugly.

[2019-03-27 17:57] xthursdayx opened #3 "Installing this fork"
This may be a stupid question, but can anyone tell me how to install this fork in MacOS? I just used the regular .dmg installer when I installed the original version. Thanks!

[2019-03-28 00:38] kytwb commented on #2
Sure, I will see to change the name shortly.

[2019-03-28 00:39] kytwb commented on #3
I will make the installers available shortly.

[2019-03-30 15:34] xthursdayx commented on #3
Great, thanks. I'll keep my eye out for them.

My impression is that on MacOS if you follow the brew build instructions it will just install the original version of Franz. I'm not sure how to specify this fork (or if that is even possible). I know that you can compile this package using Xcode in MacOS, but I didn't really feel like installing that program (~8Gb) just to compile this one app.

[2019-03-30 16:39] kytwb commented on #3
Don't need to install Xcode to build Franz. You need primarily need Node.js/npm (there might be other dependencies baseed on your system) and run the packaging command as per the README: `npm run build`. I'm going to run it locally and make the distributable(s) it produces available.

[2019-04-01 01:12] kytwb commented on #2
I've renamed the repository and changed the SVG logo available in the repository (using dark background instead of the blue gradient). I'll have to see to replace all occurrences of Franz to Ferdi and apply the logo changes to the different PNGs all over the repository (different sizes, format, etc.). I haven't seen a script to generate those assets automatically in the repository.

[2019-04-01 01:37] kytwb commented on #3
Pre-release available here: https://github.com/kytwb/ferdi/releases/tag/Ferdi-5.0.0-beta.24

[2019-04-03 02:05] xthursdayx commented on #3
Thanks @kytwb ! I actually ended up figuring out how to use npm to build it myself, but I'll switch over to your release once you get take it out of beta.

[2019-04-05 18:00] ratsuns commented on #3
installed the Franz-5.0.0-beta.24.dmg and works great except the lower three icons do not load.

Screen Shot 2019-04-05 at 10 59 37 AM](https://user-images.githubusercontent.com/27666567/55647199-eed01700-5791-11e9-9c82-9b159fbb6b5a.png)

[2019-04-11 03:47] kytwb commented on #3
Thanks for the feedback, I will double check!

[2019-05-06 17:43] FairlyIncognito opened #4 "Windows executable?"
Any chance for a Windows installation file?
I attempted building it myself but failed.
Cheers.

[2019-05-15 07:23] kytwb commented on #3
@ratsuns see https://github.com/meetfranz/franz/issues/1433

[2019-05-16 05:39] raddacle commented on #4
Yes please!

[2019-05-16 06:57] kytwb commented on #4
I will see what I can do shortly, thanks for your patience! I don't have a windows machine at hand.

[2019-05-16 07:04] raddacle commented on #4
I really appreciate it! I noticed you're also working on 5, thanks for your work.

[2019-05-20 06:47] raddacle commented on #4
In the absence of a windows executable. I tried building based on the Readme, however I got an error:

[2019-05-20T06_43_29_238Z-debug.log](https://github.com/kytwb/ferdi/files/3196577/2019-05-20T06_43_29_238Z-debug.log)

[2019-05-26 12:06] bittner commented on #2
:heart: the name Ferdi. :smile:

[2019-05-26 12:11] bittner commented on #4
We should really try to make [all-platform automatic builds](https://github.com/meetfranz/franz/releases/) upon releases. Just like Franz and similar projects. Electron builds for almost every installation technology (snaps, flatpack, etc. excluded I believe).

[2019-05-26 12:16] bittner commented on #3
*Cross-posting here from https://github.com/kytwb/ferdi/issues/4#issuecomment-495994693:*

We should really try to make [all-platform automatic builds](https://github.com/meetfranz/franz/releases/) upon releases. Just like Franz and similar projects. Electron builds for almost every installation technology (snaps, flatpack, etc. excluded I believe).

[2019-05-26 12:23] bittner opened #5 "Make it optional to create an account"
In the beginnings of Franz there was no need to create an account at [meetfranz.com](https://meetfranz.com). We should make this optional again.

If people care about getting their accounts configured on several machines easily we may add an "import/export setting" feature as an alternative, or simply describe where the configuration is stored and how it can be transferred.

[2019-05-26 12:31] bittner opened #6 "RocketChat: Make self-hosted generally available"
In Franz only the official RocketChat service can be added. If you self-host it (e.g. as a community chat) you'd have to upgrade to Premium.

Technically, this is a deliberate and arbitrary limitation. It's technically simple to allow any host as a target by using a different URL. Nothing more.

We should make it a free choice to use any URL or host name as an alternative to `<team>.rocket.chat`.

[2019-05-26 13:10] bittner commented on #2
Not a technical issue, but for sake of historical correctness:

I think it was the other way round. [Franz Josef I](https://en.wikipedia.org/wiki/Franz_Joseph_I_of_Austria) was the successor of [Ferdinand I](https://en.wikipedia.org/wiki/Ferdinand_I_of_Austria).

Yet still, I like the name Ferdinand a lot. It's a very soft-sounding name. "Ferdi" or "Ferdl" alike. Good choice! :+1:

[2019-05-26 13:28] bittner commented on #5
Related: https://github.com/meetfranz/franz/issues/1446 -- _Clickshaming_

Not sure if this remains in this code base.

[2019-05-26 13:30] bittner commented on #5
Related: https://github.com/meetfranz/franz/issues/1211 -- _Make login optional when using only Franz free features_

[2019-05-26 13:36] bittner opened #7 "Allow hiding menubar"
It should be possible to hide the menubar. Afterwards, pressing the <kbd>Alt</kbd> key should reveal it (just like Firefox and the RocketChat Electron app).

Franz is silently ignoring this feature request for a long time.

## References

- https://github.com/meetfranz/franz/issues/833 -- _Unable to hide menubar_

[2019-05-27 09:35] igreil commented on #2
Francis **Joseph**, sure. But Ferdinand I _was_ the successor of Francis I.
[https://en.wikipedia.org/wiki/Emperor_of_Austria#Emperors_of_Austria_(1804%E2%80%931918)](url)

[2019-05-27 11:23] bittner commented on #2
Sure, that's where the confusion comes from (or, at least, my confusion): Franz, the application, is about emperor Franz Joseph. The logo is his well-known beard.

[2019-05-29 07:09] kytwb commented on #5
Thanks for paving the way to additional unlocking. I'll take care of these things as soon as I get some free time if nobody has come with a pull request.

[2019-06-03 20:06] anmoljagetia commented on #3
I am getting the following error when I try to build on Mojave :

[code]

[2019-06-06 02:48] faaarmer opened #8 "Modification to build on Windows"
Hi there,
On my machine I couldn't run the `npm run build` command, as gulp would fail with `Task never defined: 'build'`.

In order to fix this, I added the line:
`
gulp.task("build", build);
`

at the end of `gulpfile.babel.js`.

Thanks

[2019-06-07 03:58] kytwb commented on #8
Do you want to make a pull request? 😃 Otherwise, I'll cross-check with the original repository first and advise.

[2019-06-09 23:54] faaarmer commented on #8
Looks like I have the same issue on the original repo, which makes sense.
Given there's no other reports of the same issue I can find, it may just be localized to my machine.
I'll just leave it and maybe this issue can help someone if they stumble upon it.

[2019-06-27 14:25] bittner opened #9 "Sustainable process to keep the fork running"
I'm a little bit worried about whether we can keep this fork of Franz actually running. When I look at the GitHub repository today I see:

Does that mean we don't and probably can't pull in updates or enhancements from the Franz code base?

I think it may make sense to identify a sustainable way to keep the fork running, e.g. by maintaining a repository of patches to be applied to Franz to get _un

[2019-07-01 06:38] kytwb commented on #9
@bittner I didn't expect this fork to get the attention it's getting to be honest, as I started it for my own need (removing the app delay), but you are right, we should maintain it. I'm happy to add collaborators to the repository! Hola at me 🙌

[2019-07-01 06:40] kytwb commented on #9
Sync'd with `upstream/master` for now.

[2019-07-01 06:41] kytwb commented on #9
Also, after a quick search: https://github.com/wei/pull

[2019-07-01 13:42] kytwb commented on #3
@bittner https://travis-ci.org/kytwb/ferdi/jobs/552771419 via https://github.com/kytwb/ferdi/commit/e3c8423bd4db6a201dd791caca01600b55c5e1d8, building to http://ferdi-travis.s3.amazonaws.com.

[2019-07-01 14:14] kytwb commented on #8
Seems to be working here: https://ci.appveyor.com/project/kytwb/ferdi/builds/25664365

[2019-07-01 14:14] #8 closed

[2019-07-01 14:22] kytwb commented on #4
@bittner Done.
@FairlyIncognito See https://github.com/kytwb/ferdi/releases/tag/Ferdi-5.2.0-beta.3 for Windows executable.

[2019-07-01 14:24] kytwb commented on #3
Everyone, please see https://github.com/kytwb/ferdi/releases/tag/Ferdi-5.2.0-beta.3 for the latest release.

[2019-07-01 14:24] #3 closed

[2019-07-01 14:25] #4 closed

[2019-07-01 14:27] kytwb commented on #9
All good; finished to set up Travis (Linux/MacOS) and Appveyor (Windows) for continuous delivery. I have set up https://github.com/wei/pull, looking forward to seeing it in in action next time upstream has updates.

[2019-07-02 12:04] kytwb commented on #9
See https://github.com/kytwb/ferdi/pull/10.

[2019-07-03 14:12] bittner commented on #4
Wow! Very cool! :medal_military:

[2019-07-05 13:59] bittner commented on #2
I see that the [releases](https://github.com/kytwb/ferdi/releases) are packaged as "Franz" for all, the then-installed Debian package, the Desktop shortcut and the content of the About box. There is no way (at least no easy or obvious one) to verify that what is installed is actually "Ferdi", and not "Franz".

Franz Ferdinand
-----------
It might be fine to keep the binary name, the package name,

[2019-07-05 14:06] bittner commented on #6
Does anyone understand which portions of the code need to be touched to make the necessary changes? I'd be happy to provide the changes in a PR with some support from a helping hand. :grimacing:

[2019-07-07 06:28] kytwb commented on #2
@bittner thanks for the contribution! I don't have a hard feeling on the naming; whatever works. Regarding the implementation, will have to see to rename only in strategic places as you mentionned. I'm very busy with @guardrailsio at the moment, but I will take a look asap if nobody comes up with a pull request 🙏

[2019-07-11 09:02] bittner commented on #7
This seems to be the [code portion](https://github.com/RocketChat/Rocket.Chat.Electron/blob/develop/src/main/menus.js#L312-L315) in the Rocket-Chat Electron client that implements the autohiding:
[code]
... with the `mainWindow` being created in [mainWindow/index.js](https://github.com/RocketChat/Rocket.Chat.Electron/blob/develop/src/main/mainWindow/index.js).

[2019-07-20 13:47] dayzlun opened #11 "Delay window came back after updating"
**Describe the bug**
Delay window came back after updating via the update prompt after installing on windows with the .exe

 - OS: Windows 10 Pro
 - Browser chrome
 - Version 5.2.0

[2019-07-22 05:12] ZeroCool940711 commented on #11
Having this exact problem too.

[2019-07-23 17:10] sunk818 commented on #11
@dayzlun Makes sense that Beta4 is from the franz site and not from here. What are you proposing? No checks on new versions?

[2019-07-23 17:13] ZeroCool940711 commented on #11
I think it would be nice to have an option to choose if we want to update from the official site or from this repository.

[2019-07-23 17:17] dayzlun commented on #11
@sunk818 It was an unremovable message for updating so... What else can I do

[2019-07-23 17:31] sunk818 commented on #11
@dayzlun Yes, it is unremovable message. After I updated, I had same problem, but I re-installed beta3 from here. I just ignore the banner now.

@ZeroCool940711 yes, there are many nice things we can have if you know how to code. Hopefully when @kytwb has more time, can have a beta4 release so the update banner below disappears. :)

![image](https://user-images.githubusercontent.com/6989799/617335

[2019-07-23 23:16] ZeroCool940711 commented on #11
Hey @sunk818 and @dayzlun, check the [PR](https://github.com/kytwb/ferdi/pull/13) I made a few minutes ago here on the ferdi repository, I think it should now check for updates on the ferdi repository instead of the franz repo, also there is some info I put in a comment on that PR explaining how to make ferdi stop updating from the franz repo if you have it already installed because you used the i

[2019-07-25 03:21] kytwb commented on #11
@ZeroCool940711 PR merged, will see to make a new release or update the existing one soon.

[2019-07-25 05:13] kytwb commented on #9
Bot forced pushed https://github.com/kytwb/ferdi/pull/10, re-opening and will address when I can aside of work.

[2019-07-25 18:27] bittner commented on #7
User @khamer mentioned in https://github.com/meetfranz/franz/issues/833#issuecomment-514627530 that the following code works for hiding the menu bar, when run via the Developer Tools:

[code]

[2019-07-26 01:10] kytwb commented on #7
It's been a bit busy lately, but I'll allocate some time to address some of the open issues over the week-end 🙏

[2019-07-27 21:33] bittner commented on #9
I'd suggest to retain a set of (scripted) patches to be applied each time a new Franz release pops up.

This could be something like a `sed` command (or something similar from the JavaScript tool chain) for each feature we want to modify. Ideally, each one supported by a test that proves the introduced change is working.

This may be more reliable to apply each time and more obvious to fix (or sel

[2019-07-27 21:45] kytwb commented on #9
@bittner Figured why the bot forced-push despite the merge conflict. It has been fixed in the Pull GitHub app via https://github.com/wei/pull/commit/6c88502ac3a08bac5aa6cf104b58c6fe860a0e6b#commitcomment-34467229. If working as expected (and now it should), I think the Pull app is what we want and would require low-maintenance (fix conflicts if any and merge, otherwise it's automatically merged an

[2019-08-05 11:16] kytwb commented on #9
Re-activated Pull.

[2019-08-05 11:16] #9 closed

[2019-08-05 12:09] kytwb commented on #9
Merged https://github.com/kytwb/ferdi/pull/14.

[2019-08-05 12:16] kytwb opened #15 "More sustainable way to unlock Premium features"
Would be nice to make every user premium by default (see `isPremium`): https://github.com/kytwb/ferdi/blob/f927ed93fa0b3195edd017ccef2b761e508b8247/src/models/User.js#L23
More sustainable way to achieve the current goal.

[2019-08-05 13:09] kytwb commented on #11
Fixed in latest release: https://github.com/kytwb/ferdi/releases/tag/Ferdi-5.2.1-beta.1

[2019-08-05 13:10] #11 closed

[2019-08-17 18:36] justus-saul opened #16 "Franz autoupdate overwrites Ferdi"
When there is a new Franz version, but not a new Ferdi version yet. You get to see the update banner at the bottom of the screen. When you click it Franz is automatically installed and Ferdi is gone.

[2019-08-18 00:35] kytwb commented on #16
Thought this was fixed already but we had some mix up happen with a GitHub app that forced-push on the repository. Re-applied via https://github.com/kytwb/ferdi/commit/e501af3f0e0df1c91240622e4d312ae95025406c. Will update the latest release asap.

[2019-08-18 00:41] kytwb commented on #16
Waiting for the builds to finish:
<img width="692" alt="Screen Shot 2019-08-18 at 7 40 35 AM" src="https://user-images.githubusercontent.com/412895/63218746-88212800-c18b-11e9-8e8d-9f6311aaeb79.png">

[2019-08-18 08:55] kytwb commented on #16
Updated the latest release assets with the latest builds artifacts: https://github.com/kytwb/ferdi/releases/tag/Ferdi-5.2.1-beta.1

[2019-08-18 08:55] #16 closed

[2019-09-03 22:21] BinaryShrub opened #18 "Brew cask support"
`brew cask install ferdi`

[2019-09-06 12:42] #15 closed

[2019-09-06 12:42] #2 closed

[2019-09-06 13:14] vantezzen commented on #6
Fixed by #17, should be available in v5.3.0

[2019-09-06 13:35] #6 closed

[2019-09-06 14:00] kytwb commented on #6
[Ferdi-5.3.0](https://github.com/kytwb/ferdi/releases/tag/Ferdi-5.3.0) has been released! 🎉

[2019-09-06 14:43] kytwb opened #19 "Regression with WhatsApp"
See https://github.com/kytwb/ferdi/pull/17#issuecomment-528880912:

[2019-09-06 14:57] AGCaesar commented on #19
I changed all "Fanz" occurrences in ~.config/Ferdi/recipes/whatsapp/index.js to "Ferdi" and now it works great :)
Thanks for the 5.3 release!

[2019-09-06 15:08] kytwb opened #20 "Missing instructions for development on macOS Mojave"
Running `npm install` on macOS Mojave fails with the following:

[code]

The solution seems to be to run the following command first:

[code]

This could be added to the [**Preparations**](https://github.com/kytwb/ferdi/blob/9d9e8991c6729de0fe664a8f17a3c881c6bd420e/README.md#L36) section of the README (which could also be renamed **Prerequistes**).

via https://github.com/esnme/ultrajson/issues/33

[2019-09-06 15:24] ZeroCool940711 opened #21 "Whatsapp Web not working, needs chrome 49+"
**Describe the bug**
After I updated to ferdi 5.3.0 whatsapp web service is no longer working, when you open it on ferdi it says that Chrome 49+ is needed.

**Screenshots**
![image](https://user-images.githubusercontent.com/5977640/64439809-ad64d000-d07f-11e9-9c14-1d4517be552a.png)

[2019-09-06 15:28] AGCaesar commented on #21
Duplicate ob Bug #19  ;) Solution is mentioned there :)

[2019-09-06 15:33] ZeroCool940711 commented on #21
Oh, sorry for creating a duplicate, I guess I should had search first for any other open issue regarding this. :/

[2019-09-06 15:33] #21 closed

[2019-09-06 15:44] ZeroCool940711 commented on #19
As an extra for those of us using Ferdi on Windows that folder mentioned before by AGCaesar can be located quickly by pressing `Win+R` and then typing `%APPDATA%/Ferdi/recipes/whatsapp`, that will take you directly to that folder.

[2019-09-06 15:58] vantezzen commented on #19
This bug should be fixed quite easily, I am currently taking a look at what the best fix would be.

[2019-09-06 16:01] vantezzen commented on #18
Related:
<https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md> and <https://github.com/Homebrew/homebrew-cask/blob/master/Casks/franz.rb>

[2019-09-06 16:02] vantezzen commented on #20
Have you tried removing the node_modules folder and then installing dependencies using `npx lerna bootstrap`? This seems to be the recommended action by the [Franz documentation](https://github.com/meetfranz/franz#Install-dependencies)

[2019-09-06 16:18] vantezzen commented on #19
@kytwb The problem should be fixed by 1b18a7b, can you take a look?

[2019-09-06 23:27] bittner commented on #6
You are soooooooooo

[code]

[2019-09-06 23:41] bittner commented on #2
The 5.3.0 release is awesome! THANK YOU!

The coloring is different now, and so is the logo. However, the name in the About box has remained as it was:

![Franz-Ferdinand-About-box](https://user-images.githubusercontent.com/665072/64465844-04fe4c80-d10f-11e9-8366-ad2f042ccb8a.png)

Can we set
1. the About box _title_ to "Ferdi" (`Franz` -> `Ferdi`), and
1. the _header_ of the About box text to "Fr

[2019-09-07 16:34] vantezzen opened #23 "Merging Franz 5.3 into Ferdi"
[Franz 5.3.0](https://github.com/meetfranz/franz/releases) was just released, adding Franz Todos and bringing some pricing updates with it.

Today I worked on merging Franz 5.3.0 into the Ferdi codebase (resulting in Ferdi 5.3.1), but the merged version may need some testing from volunteers.

@kytwb could you publish the latest builds from Travis and AppVeyor from the franz-5.3.0 branch as a pre-r

[2019-09-09 07:41] kytwb commented on #23
What about https://github.com/kytwb/ferdi/pull/24? Did you pull the changes from Franz manually, then resolved the conflicts on the franz-5.3.0 branch? Are ok to still use the Pull bot as discussed in https://github.com/kytwb/ferdi/issues/9? Also, regarding the versioning, do you think we should keep the versions in sync with Franz?

[2019-09-09 07:46] vantezzen commented on #23
There were quite some merge conflicts in #24 so I merged and resolved the changed into the franz-5.3.0 branch first. This way we can test if everything works before merging franz-5.3.0 into master.

The usage of Pull bot as discussed in #9 should still be ok with smaller changes, but as this is a whole new Franz version being merged (5.2.0 -> 5.3.0), this PR needed to be resolved manually.

I thin

[2019-09-09 08:20] kytwb commented on #18
Had to name the cask `franz-ferdi` as we are in the fork category:

See https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md#forks-and-apps-with-conflicting-names.

[2019-09-09 08:21] justus-saul opened #25 "Missing Ferdi branding"
I am using Ferdi-5.3.0 on ubuntu, installed it via the.deb file and German as set language.
I discovered that there are at least the occurrences of Franz left.

1. The title of the application still says Franz
2. Menu: "Fenster" (window) -> "Über Franz" (about Franz)
3. The "Über Franz" (about Franz) window still shows Franz information

[2019-09-09 08:42] bittner commented on #25
These are screenshots of the issues mentioned above:

![Franz-Ferdi-window-title](https://user-images.githubusercontent.com/665072/64515539-0be2b600-d2ed-11e9-9bf4-4924559a25c1.png)

![Franz-Ferdi-About-menu](https://user-images.githubusercontent.com/665072/64515911-c5418b80-d2ed-11e9-9a04-8c1d57dd1291.png)

![Franz-Ferdinand-About-box](https://user-images.githubusercontent.com/665072/64465844-04f

[2019-09-09 09:28] vantezzen commented on #25
Thank you for the feedback.
The branding issues should now be fixed as of Ferdi 5.3.1.

@bittner I have now changed the About menu **title** to "Franz Ferdinand". The about-menu header always shows the application name - so showing a different name could case confusions. The window title on the other hand seems to vary between applications ("About", "About application", application name etc.), all

[2019-09-09 12:32] justus-saul opened #26 "Missing spacing between link and text in settings"
Ferdi version 5.3.0 on Ubuntu 18.04.3 LTS 64-bit
![grafik](https://user-images.githubusercontent.com/5861826/64530896-79eba500-d30e-11e9-9aa6-85797ffbe9be.png)

[2019-09-09 13:37] kytwb commented on #26
Related to https://github.com/kytwb/ferdi/blob/7d584c14d3eecd08644d3035730d9e07f195cb78/src/components/settings/settings/EditSettingsForm.js#L269

[2019-09-09 14:08] vantezzen commented on #26
Thank you for your feedback.

This problem should already be resolved in Ferdi 5.3.1
![Screenshot](https://user-images.githubusercontent.com/10333196/64537942-08b2ee80-d31c-11e9-916f-6341fbe11d0c.png)

[2019-09-09 14:56] kytwb commented on #18
Pull request merged 🎉

[code]

Will close once available and after adding to the README.

[2019-09-09 15:03] kytwb commented on #23
Roger that. So should I first update Ferdi v5.3.0 release to includes todos? I'm afraid it would be confusing for people downloading Ferdi 5.3.0 expecting features parity with Franz 5.3.0 otherwise.

[2019-09-09 15:05] kytwb commented on #26
Will be available in the next/updated release.
🙏 Thank you for reporting.

[2019-09-09 15:05] #26 closed

[2019-09-09 15:07] kytwb commented on #25
LGTM 👍 Thanks for the reporting @justus-saul @bittner, and @vantezzen for the fixes. Will be available in the next/updated release. Closing for now.

[2019-09-09 15:07] #25 closed

[2019-09-09 15:31] vantezzen commented on #23
I would keep the current Ferdi 5.3.0 pre-release as is and release the franz-5.3.0 branch as Ferdi 5.3.1.

Mainly because the franz-5.3.0 branch is already up to date to Franz 5.3.1. Releasing that as 5.3.0 could also cause confusions and people could think that Ferdi is not up to date with Franz releases.

[2019-09-10 01:56] kytwb commented on #18
[code]

[2019-09-10 01:56] #18 closed

[2019-09-10 10:19] #20 closed

[2019-09-10 10:20] #19 closed

[2019-09-10 10:20] kytwb commented on #19
Will ship when closing https://github.com/kytwb/ferdi/issues/23.

[2019-09-10 11:52] vantezzen commented on #23
I havn't found any more bugs, we can publish 5.3.1 if you want to.

Can you add the builds to the GitHub release and update homebrew?

[2019-09-11 14:48] bittner commented on #6
**Fun fact:** If you configure Rocket Chat services in Ferdi they will open just like "normal" in Franz, too.

Haha! :smile:

Seems like it's really just a simple restriction on the Franz user interface. :+1:

[2019-09-11 22:39] VerstandInvictus opened #28 "Windows: Taskbar title is still "Franz""
**Describe the bug**
In Windows 10, the taskbar title for Ferdi is still Franz, though the purple Ferdi logo is shown correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Ferdi 5.3.0 on Windows
2. Observe taskbar

**Expected behavior**
Ferdi should be shown as the taskbar title

**Screenshots**
![image](https://user-images.githubusercontent.com/14807375/64740449-4180ce00-d4aa-11

[2019-09-12 07:26] vantezzen commented on #28
Thank you for your feedback.

I just [fixed the bug](https://github.com/kytwb/ferdi/blob/828f4bce4ee1d7c53c132f0cce6032c121632015/src/index.html#L4), the fix should be released in 5.3.1

[2019-09-14 01:40] kytwb commented on #23
@vantezzen been a bit busy lately, will take care of the releases today.

[2019-09-14 05:10] kytwb commented on #28
Released in https://github.com/kytwb/ferdi/releases/tag/v5.3.1

[2019-09-14 05:10] #28 closed

[2019-09-14 05:11] kytwb commented on #23
Released [v5.3.1](https://github.com/kytwb/ferdi/releases/tag/v5.3.1) and [v5.3.2](https://github.com/kytwb/ferdi/releases/tag/v5.3.2)

[2019-09-14 05:11] #23 closed

[2019-09-14 05:14] kytwb commented on #23
Updating the cask as well.

[2019-09-14 05:38] kytwb commented on #2
@all-contributors please add @igreil and @marcolopes for ideas

[2019-09-14 05:38] kytwb commented on #2
@all-contributors please add @marcolopes for ideas

[2019-09-14 05:39] kytwb commented on #2
@all-contributors please add @marcolopes for ideas

[2019-09-14 05:42] kytwb commented on #2
@all-contributors please add @marcolopes for ideas

Sorry for the spam; will add credits as we go now with the bot.

[2019-09-14 05:43] kytwb commented on #2
@all-contributors please add @marcolopes for ideas

[2019-09-14 05:43] kytwb commented on #2
Sorry for the spam; will add credits as we go now with the bot.

[2019-09-14 05:47] kytwb commented on #11
@all-contributors please add dayzlun for bug

[2019-09-14 09:00] vantezzen opened #35 "Signing and notarisation on Mac"
Currently, when first opening a Ferdi build on MacOS, you'll get this error:
![Screenshot](https://user-images.githubusercontent.com/10333196/64905835-fe0ea580-d6dd-11e9-969e-1941274f12af.png)
This is because Ferdi is not signed using an Apple Developer ID. The only way to open Ferdi is to use `ctrl`-click > "Open".

From MacOS Catalina onwards, you'll also get this error because Ferdi isn't notar

[2019-09-14 11:53] vantezzen commented on #7
Hello,
I've just implemented this feature, similar to how RocketChat handles it:
The menubar is shown by default. In the menubar there is a new checkbox, "Auto-hide menu bar". Enabling this will set `remote.getCurrentWindow().setAutoHideMenuBar(true)`, as suggested by you. This setting will persist between restarts as the value is stored in the app settings.

[2019-09-14 17:51] kytwb commented on #35
I don't have a Developer ID at the moment, but I could sort that out.

[2019-09-16 03:53] shenwalter commented on #35
Hi, to circumvent that issue you want to right click on Ferdi, and then in the menu click run.
![image](https://user-images.githubusercontent.com/24768371/64933597-0537cf80-d814-11e9-8a31-81b96d49292a.png)
That should solve the issue!

[2019-09-16 05:59] kytwb opened #36 "Can't open links in Skype"
https://github.com/meetfranz/franz/issues/1167#issuecomment-531567535

[2019-09-16 07:02] kytwb commented on #7
@vantezzen I like the idea of a release candidate (rc) pre-release that includes bug fixes / improvements until next official release version in sync with Franz. WDYT?

[2019-09-16 08:33] vantezzen commented on #35
@shenwalter Thank you for your comment. I also mentioned this "trick" in my original comment, but I don't think this will work as a permanent solution:

This will work for all experienced users, but unexperienced users will not know this "trick" - especially because Franz is signed, meaning they don't need to use the trick there - and also probably won't search for this trick as they will think Fe

[2019-09-16 08:35] tobigue opened #37 "Keep workspace loaded option per workspace"
I love the possibility to have workspaces that are not loaded.
But it would be great to be able to configure this **per workspace**, so that one can have multiple loaded and multiple inactive workspaces.
:heart:

[2019-09-16 08:37] vantezzen commented on #7
@kytwb Good idea, I would follow the naming scheme of Franz pre-releases (v5.X.X-beta.X). This way the pre-releases should be able to Ferdi's "Include beta versions" feature.

[2019-09-16 08:51] vantezzen commented on #37
Great idea. We would have to see where we could save this information and how we could sync it between clients as the Franz server won't save any settings the original Franz client doesn't have.

I have created a new branch "issue-37" to implement this.

Related: <https://github.com/kytwb/ferdi/blob/master/src/stores/ServicesStore.js#L122> is where Ferdi decides which Workspaces to keep loaded.

[2019-09-16 09:40] kytwb commented on #7
How do we know what the beta version is going to be? patch up? minor up?

[2019-09-16 09:42] kytwb commented on #37
@all-contributors please add @tobigue for ideas

[2019-09-16 10:18] vantezzen commented on #7
Best is is to patch up, Franz won't minor up too often.

I also think we could release new patch versions of Ferdi without Franz having that version yet (e.g. 5.3.3) if we want to release new features for Ferdi. But I do still think that we should keep minor and major version numbers in sync with Franz.

[2019-09-16 10:52] vantezzen commented on #37
I have now implemented your feature in the issue-37 branch and it should be available in the next update.

I also found a way to save the setting to the Franz API (by adding a "secret", non-existent service to the workspace).
The setting should now sync between Ferdi clients while still being fully compatible with Franz clients as they will simply ignore it.
The only downside with this method is,

[2019-09-16 12:11] vantezzen opened #39 "Add a way to "go back" and "go forward" inside services"
Currently, there is no way to "go back" and "go forward" inside the browsing history inside services.

This functionality is useful when using a service that isn't a one-page-application, e.g. GitHub or custom websites. On some websites you may also get redirected to an external website (e.g. a community forum) with no way to get back to your service from the website itself.

This is why I suggest

[2019-09-16 19:30] #39 closed

[2019-09-17 02:01] kytwb commented on #7
LGTM! Will go with that 👍

[2019-09-17 03:01] kytwb opened #40 "Stop uploading assets to S3 at every build"
Right now we're uploading assets at every build, which trigger/exceed my free tier limits on AWS S3. This could be enhanced by not uploading assets to S3 at every build, but rather at strategic ones TBD (releases/tags).

[2019-09-17 03:02] kytwb commented on #40
Would also speed up builds that will skip the upload part on Travis a bit.

[2019-09-17 08:08] justus-saul opened #41 "Add password-protection/lock feature"
**User story**
I use Ferdi at home and at work. At each places it is possible that other people are using my computer. I don't want them to be able to look into my communication. -> I want to be able to lock Ferdi and I would like to be able to use different passwords for it at home and at work.

**Feature**
- Option to be asked for a password on Ferdi startup
- Button to lock Ferdi -> need to ent

[2019-09-17 08:11] vantezzen commented on #40
Good idea, do you have experience with modifying the travis.yml and appveyor.yml?
Is it possible to skip the upload on normal builds and add a manual trigger that builds and uploads to S3?

[2019-09-17 08:13] kytwb commented on #40
No problem for AppVeyor, the artifacts are not uploaded to S3. For Travis, we need to change: https://github.com/kytwb/ferdi/blob/e63a7dcb78e5ec122586038352ece48fc8d149d5/.travis.yml#L36

[2019-09-17 08:22] #40 closed

[2019-09-17 08:23] vantezzen commented on #41
Great suggestion, here is my suggestion on how this feature could look like:

![Locking Ferdi is possible via the "Lock Ferdi" option](https://user-images.githubusercontent.com/10333196/65024296-d6fde100-d934-11e9-9ef5-e115e3affab2.png)
![Unlock Ferdi with your password](https://user-images.githubusercontent.com/10333196/65024297-d6fde100-d934-11e9-9671-1f52e71f4e66.png)

I don't think this is fea

[2019-09-17 08:44] justus-saul commented on #41
Looks great imo! Thanks for having a look into it. :)

[2019-09-17 08:58] kytwb commented on #35
I have the Apple Developer Program membership sorted; will take a look at the next steps soon.

[2019-09-17 09:17] kytwb commented on #41
LGTM! 💪

[2019-09-17 09:47] kytwb commented on #7
Available in [v5.3.3-beta.1](https://github.com/kytwb/ferdi/releases/tag/v5.3.3-beta.1).

[2019-09-17 09:47] #7 closed

[2019-09-17 10:22] vantezzen commented on #37
Yes, just merged.

[2019-09-17 11:46] kytwb commented on #41
Also https://github.com/meetfranz/franz/issues/950 and https://github.com/meetfranz/franz/issues/1430. Included in [v5.3.3-beta.2](https://github.com/kytwb/ferdi/releases/tag/v5.3.3-beta.2)

[2019-09-17 11:46] #41 closed

[2019-09-17 11:46] kytwb commented on #37
Included in [v5.3.3-beta.2](https://github.com/kytwb/ferdi/releases/tag/v5.3.3-beta.2). Well done @vantezzen! 💪

[2019-09-17 11:46] #37 closed

[2019-09-17 11:51] kytwb commented on #5
Related https://github.com/meetfranz/franz/issues/1614, https://github.com/meetfranz/franz/issues/71

[2019-09-17 14:57] justus-saul opened #46 "Password lock field gets repopulated with default password"
Ferdi version: Ferdi-5.3.3-beta.2
OS: Ubuntu 18.04.3 LTS

After enabling the password lock feature in the settings the password field is prepolulated with the default password "ferdi". When I now want to clean the field to enter my own password, the field gets automatically repopulated with the default password as soon as the last digit in the field is deleted.

[2019-09-17 18:31] vantezzen commented on #46
Thank you for your feedback, the issue should be fixed in the next beta build.

Leaving this issue open until next beta build is published to prevent duplicate issues.

[2019-09-18 06:07] kytwb commented on #46
Fixed in [v5.3.3](https://github.com/kytwb/ferdi/releases/tag/v5.3.3).

[2019-09-18 06:07] #46 closed

[2019-09-18 06:41] kytwb commented on #35
Related: https://github.com/kytwb/ferdi/blob/f5b266719d90639b673c0e0344144f8c443f7378/gulpfile.babel.js#L181

[2019-09-18 07:24] kytwb commented on #35
Related: https://www.jviotti.com/2016/03/16/how-to-code-sign-os-x-electron-apps-in-travis-ci.html

[2019-09-18 07:41] bittner opened #47 "About menu item now in Todos menu?"
**Describe the bug**

As of version 5.3.3, the "About Ferdi" menu item is found in the new Todos menu. Is this normal? This must be a bug, or at least it's veeery uncommon. :roll_eyes: :smile:

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ferdi
2. Go to the application menu bar and search for the "About Ferdi" menu item
3. Find the "About Ferdi" menu item in the "Todos" menu
4. There

[2019-09-18 08:40] kytwb commented on #35
Will follow https://github.com/electron/electron-osx-sign/wiki/1.-Getting-Started#create-your-certificates to generate certificates; then refer to https://www.electron.build/code-signing as we use `electron-builder` for the build command.

Still waiting on the membership to activate to be able to generate the certificates:

[2019-09-18 08:49] vantezzen commented on #35
Also related: https://kilianvalkhof.com/2019/electron/notarizing-your-electron-application/

[2019-09-18 10:04] vantezzen commented on #47
Very weird, I can't seem to reproduce this bug.
Using v5.3.3 with Todos enabled, the about menu is still inside the Ferdi menu, not the todo menu.

![About Ferdi in the right menu](https://user-images.githubusercontent.com/10333196/65139048-45fa3900-da0c-11e9-8066-f6103317a44e.png)
![Using v5.3.3](https://user-images.githubusercontent.com/10333196/65139049-45fa3900-da0c-11e9-8073-ad17a7fc77ef.png)

[2019-09-18 12:04] bittner commented on #7
@vantezzen I can't find this option anywhere in the menu bar. (Note that I'm running Ferdi on Ubuntu Bionic using the GNOME desktop.) Where is this meant to be? Can you maybe post a screenshot here?

It would be weird if this feature were not platform independent. I don't think it has to be.

[2019-09-18 12:07] AGCaesar commented on #7
Same here... I can not find the option in the menu bar. Latest build on Arch Linux.

[2019-09-18 12:28] bittner commented on #7
Reading commit e9746cbfe61819 I fear the implementation is totally macOS specific. The menu you have added the new menu item to does not exist on other platforms (guessing for Windows and other platforms here).

To make this platform independent I'd suggest to put the new item into the "View" menu. TBO, I don't know if that menu is shown on a Mac; maybe you can check where the "Enter Full Screen"

[2019-09-18 12:50] vantezzen commented on #7
@bittner Thank you for your help, that was the exact problem. c6356d5 should have fixed the problem, hope you can check if it is fixed in the next beta build.

[2019-09-18 12:54] justus-saul commented on #47
I am able to reproduce it on Ubuntu 18.04.3 LTS with Ferdi 5.3.3

[2019-09-18 13:03] vantezzen commented on #47
Ok, thank you. It looks like Mac uses a different method to build the menu thus the "About Ferdi" option is still in the right place there but not on all other platforms.

It looks like this is the code that is responsible for this: https://github.com/kytwb/ferdi/blob/b2d887bd5f0775bec6708dc10710c1528f6576ad/src/lib/Menu.js#L867
It pushed the option to the 6th submenu, which was previously the las

[2019-09-18 13:06] deadmeu opened #48 "Empty Todos causes 1px purple border line"
**Description**
When the todos feature is enabled, empty, and collapsed, a thin vertical purple line is drawn on the right-hand edge of the window.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Enable Todos
3. Collapse Todos
4. See purple line on right edge of the window

**Expected behavior**
No purple line should be shown, as occurs when Todos are disabled.

**Screenshots

[2019-09-18 13:17] deadmeu opened #49 "Update task menu shortcut icon to the new Ferdi icon"
**Describe the solution you'd like**
The new Ferdi icon should replace the existing Franz icon when the app is searched for in the user's task menu.

**Additional context**
Here's the current icon that displays when I search for the Ferdi app in my task menu (XFCE on Arch Linux):
![ferdi franz icon](https://user-images.githubusercontent.com/12111013/65151947-65c04a00-da6a-11e9-9589-a47f9cca88b0.pn

[2019-09-18 13:21] vantezzen opened #50 "Store user data locally"
As suggested by @bittner:

https://github.com/meetfranz/franz/issues/1614#issuecomment-532673612

I doubt that Franz itself will implement such a feature, it seems like Franz only tries to get more and more dependent on its servers.

Storing user data (including services, workspaces etc.) locally would also greatly help implement #5 as that feature would also require user data to be stored locally

[2019-09-18 13:25] vantezzen commented on #48
I think this behaviour can also be found inside Franz (but with a blue line). It should indicate that "there is something" on the right side. When hovering near the line, the button for opening Ferdi Todos will appear.

Thus making it not a bug but a feature request to change Ferdi's behaviour. I actually don't mind the line but I am also not a fan of it so I wouldn't care if we remove it.

What d

[2019-09-18 13:32] vantezzen commented on #49
Hmm, I can't find any remaining Franz icons inside the code. Does anyone know anything more about where this image could come from?

[2019-09-18 13:35] AGCaesar commented on #49
I have the icon in /usr/share/icons/Numix-Circle/48/apps/franz.svg
I do not really know how icons works, but that is the place and it is somehow linked to this I guess :)

[2019-09-18 14:11] deadmeu commented on #49
On second thoughts, I think this may come from the fact that I'm using the [ferdi-git AUR package](https://aur.archlinux.org/packages/ferdi-git/) to install Ferdi on my machine. Within the PKGBUILD's ferdi.desktop desktop entry, there appears the line: `Icon=franz` which may very well be the reason the Franz icon is appearing.
I'll raise this issue with the AUR package maintainer, and hopefully al

[2019-09-18 14:14] AGCaesar commented on #49
That will be me... But to be honest I am quite a noob concerning building aur packages. I will change it immediately and lets see what happens :)

[2019-09-18 14:33] kytwb commented on #49
@all-contributors please add @AGCaesar for platform

[2019-09-18 14:37] bittner commented on #50
The reason why I posted the above in the Franz issue tracker was to encourage a valuable enhancement that would significantly contribute to Franz' reputation as "good desktop software". That, in turn, we on the free fork would profit is probably obvious. Having said that, I still hope my feature suggestion simulates someone, potentially at Vienna.

And yes, if such a feature is implemented #5 is n

[2019-09-18 14:55] vantezzen commented on #50
Yes, I also hope that Franz itself gets this feature but at this point I highly doubt that they add a feature that lowers Franz's dependence on their servers.
This is why I created this feature request here. We can see if Franz's developers respond to your original comment and just keep this issue open while we wait for that.

[2019-09-18 15:01] Gaboris commented on #50
The main problem is that this has been brought up to the Franz devs several times. A few are actually by me, but so far all of them were shut down after a while by saying "it's a need feature".

Seeing how Ferdi suports custom servers I hope that that means we can run a local server on our machine and use that, but didn't have the time to check it yet.

[2019-09-18 15:22] vantezzen commented on #50
@Gaboris yes you can do that. You can run a [ferdi-server](https://github.com/vantezzen/ferdi-server) locally and change your server to `http://localhost:3333`.

This feature request would be another improvement to that, so that you eventually don't even have to run a server but Ferdi stores your data locally by itself.

[2019-09-18 15:46] Gaboris commented on #50
@vantezzen Yeah that would be the best. Heck, Franz could also keep the login system and hash a key from that to encrypt the information for extra security.

Heck, the MOST bizarre thing is that when I brought up the idea to make the server sync a paid service so that users don't have to set-up their clients all the time on new machines and to lower their own costs they kept saying that the reason

[2019-09-18 15:53] AGCaesar commented on #49
@deadmeu did it work? I do not have menu Items as I use rofi so I can not check myself :)

[2019-09-18 18:53] vantezzen commented on #50
@Gaboris To develop ferdi-server I needed to reverse-engineer what Franz is doing so here is an (uncomplete) list of things Franz is sending to its server:

- When registering: Your first- and last name, email and password (all things you provide when signing up)
- When creating a new service: The service and recipe name and the settings you pick (e.g. HTTP proxy settings, if you enable darkmode,

[2019-09-18 19:21] Gaboris commented on #50
Wow well THAT is very reassuring to know. Thank you @vantezzen for that info. :)

[2019-09-19 05:10] kytwb commented on #35
[code]

Looking at making signing work in Travis next.

[2019-09-19 06:12] kytwb commented on #35
Added to https://travis-ci.org/kytwb/ferdi/settings

![Screen Shot 2019-09-19 at 12 41 45 PM](https://user-images.githubusercontent.com/412895/65217199-8bd30200-dadd-11e9-8752-148e92ec52e9.png)

As per https://www.electron.build/code-signing#travis-appveyor-and-other-ci-servers.

[2019-09-19 06:23] kytwb commented on #35
Also added the env variables used in `build-helpers/notarize.js` (see https://github.com/kytwb/ferdi/pull/52/commits/96bf053ac6cb90a8bfb87fd89ffe866e9cbf015f):

![Screen Shot 2019-09-19 at 1 21 40 PM](https://user-images.githubusercontent.com/412895/65218451-af4b7c00-dae0-11e9-912c-538ef0067280.png)

[2019-09-19 06:57] kytwb opened #53 "Fix releasing from CI tags builds"
From https://ci.appveyor.com/project/kytwb/ferdi/builds/27485639#L372:

[code]

And https://travis-ci.org/kytwb/ferdi/jobs/586371874#L381:

[code]

[2019-09-19 07:03] kytwb commented on #53
Suspecting that's because of wrong permissions on the GH_TOKEN. Re-created a new one with the right permissions (`repo`), will retry at next tag.

[2019-09-19 07:05] kytwb commented on #35
Email received after https://travis-ci.org/kytwb/ferdi/jobs/586865267 succeeded:

![Screen Shot 2019-09-19 at 2 02 30 PM](https://user-images.githubusercontent.com/412895/65221112-7f9f7280-dae6-11e9-9a28-5114f8b9f371.png)

[2019-09-19 07:45] bittner commented on #50
I believe, we can always place a PR in their repository. If they see a value they may merge it. And as the code base is more or less identical there shouldn't be much of additional work to do compared to doing the same thing is our repo. Let's think positive, and hope for the best! :+1:

[2019-09-19 08:18] kytwb commented on #35
@all-contributors add @vantezzen for example

[2019-09-19 08:27] kytwb commented on #53
@all-contributors add @kytwb for infra

[2019-09-19 08:33] kytwb commented on #53
Draft release automatically created and assets automatically uploaded from CI builds:

![Screen Shot 2019-09-19 at 3 31 52 PM](https://user-images.githubusercontent.com/412895/65227423-cb581900-daf2-11e9-9f85-178cbbf25a90.png)

(Assets list in the screenshot above is incomplete as the builds are still on-going at time of writing)

[2019-09-19 08:33] #53 closed

[2019-09-19 08:45] kytwb commented on #47
@all-contributors add @bittner for bug

[2019-09-19 08:56] kytwb commented on #47
@bittner shipped in [v5.3.4-beta.1](https://github.com/kytwb/ferdi/releases/tag/v5.3.4-beta.1). Can you please test and confirm if the issue is fixed or not on your platform with this version? 🙏

[2019-09-19 09:02] kytwb commented on #48
I'm for keeping it as it.

[2019-09-19 09:13] AGCaesar commented on #49
I installed a VM with manjaro (because I am lazy) to check it it works and it seems to be fixed.
But I guess we should wait for feedback from @deadmeu before closing :)

[2019-09-19 09:14] vantezzen commented on #35
@kytwb Could you also remove meetfranz.com as the project URL from GitHub?
![Screenshot](https://user-images.githubusercontent.com/10333196/65230646-815d3c00-dace-11e9-8405-f767ec5c5f00.png)
I think it is not fitting to link the fork origin project as the project URL, I would just keep it blank.

[2019-09-19 09:16] kytwb commented on #35
@vantezzen done 👍

[2019-09-19 09:20] kytwb commented on #53
@vantezzen I think we can remove the deploy to S3 from Travis now that this is addressed; WDYT?

[2019-09-19 09:23] vantezzen commented on #53
Great! Yes, S3 can now be removed.

[2019-09-19 09:37] deadmeu commented on #49
Just upgraded, and it looks good! :smile:
Thank you for your efforts maintaining the package @AGCaesar.

[2019-09-19 09:38] #49 closed

[2019-09-19 09:42] kytwb opened #57 "Detach fork from meetfranz/franz"
As we have hard-forked, I've asked GitHub support to detach `kytwb/ferdi` from `meetfranz/franz`.

![Screen Shot 2019-09-19 at 4 38 09 PM](https://user-images.githubusercontent.com/412895/65232756-e418fc80-dafb-11e9-933b-d574877be904.png)

Waiting to hear back from GitHub.

[2019-09-19 09:43] deadmeu commented on #47
Looks good for me

[2019-09-19 09:45] kytwb opened #58 "Ferdi organization on GitHub"
As we are many contributors to this repository, I'm proposing to create a Ferdi organization on GitHub and transferring this repository and affiliated (https://github.com/vantezzen/ferdi-server, https://github.com/vantezzen/ferdi-slim-server) to that one organization. WDYT @vantezzen?

[2019-09-19 09:48] kytwb commented on #58
If you're ok with it, we need to come up with an org name as `ferdi` is taken. Should we go with `meetferdi` or? Suggestions welcome! Mine: `getferdi/desktop`, `getferdi/server`, `getferdi/slim-server`.

[2019-09-19 09:49] kytwb commented on #47
@deadmeu thanks for the feedback!
@bittner please let us know if we need to re-open! 🙏

[2019-09-19 09:49] #47 closed

[2019-09-19 09:51] kytwb commented on #57
![Screen Shot 2019-09-19 at 4 51 07 PM](https://user-images.githubusercontent.com/412895/65233877-c187e300-dafd-11e9-9538-c312efd7bfb8.png)

[2019-09-19 09:54] Gaboris commented on #58
I'd say using "meet" would be just too direct. If Ferdi really wants to detach itself from Franz then I'd say the "get" versions would be a better alternative.

[2019-09-19 09:55] vantezzen commented on #58
Yes, great idea. I am for getferdi. Meetferdi also just looks too similar.

[2019-09-19 09:56] vantezzen commented on #57
Yes, ferdi is not detached!

[2019-09-19 09:57] kytwb commented on #57
Should be within the hour! 😉

[2019-09-19 09:58] #57 closed

[2019-09-19 10:11] kytwb commented on #58
@Gaboris thanks for the feedback!
@vantezzen roger that!

https://github.com/getferdi created, transferring the repository!

[2019-09-19 10:12] kytwb commented on #58
✅ https://github.com/getferdi/ferdi

🎉😃

[2019-09-19 10:12] #58 closed

[2019-09-19 10:26] kytwb commented on #58
@all-contributors please add @Gaboris for his feedback

[2019-09-19 11:19] AGCaesar opened #59 "Replace leftover Franz references"
I found a few more Franz references....
In the settings Menue we have "show franz in info area" and "Activate franz todos"
Seen here: https://i.imgur.com/T5UmPfI.png
In the Menu under "?" -> "lean more" it still links to the franz homepage,
Changelog  links to the franz changelog,
"Support" links to https://meetfranz.com/support ,
"Terms of service" links to Franz,
"Privacy Statement" also links t

[2019-09-19 11:32] kytwb commented on #59
Good catch, thanks for reporting!

I just got [getferdi.com](getferdi.com), so I think we can start referencing to (https://)getferdi.com when needed!

[2019-09-19 12:23] Makazzz opened #60 "Keep repository in sync with meetfranz/franz"
I just saw that Ferdi is with is own organization wich is great but I have a question: Will Ferdi still get merge with Franz update and be even with Franz even if it is not a "fork" in the GitHub repo?

I just wanted to know, thanks.

[2019-09-19 12:32] kytwb commented on #60
Good point! I think we need to configure Pull properly to indicate the upstream manually now that we detached from the original repository.

[2019-09-19 12:33] Makazzz commented on #60
Good to know!
Thanks for your work and your team.

[2019-09-19 12:35] kytwb commented on #60
See https://github.com/wei/pull#advanced-setup-with-config

[2019-09-19 12:39] kytwb commented on #60
Oops, went a bit too fast:

Upstream must be in the same fork network.

[2019-09-19 12:53] vantezzen commented on #59
Thanks.
I have now finally added a new `npm run apply-branding` script that replaces the Franz branding with the Ferdi branding in all locales. This should now mean that the only time we get leftover Franz references is, when they are hard-coded and not stored in the translation files.

[2019-09-19 12:55] AGCaesar commented on #59
Is the "npm run apply-branding" performed automatically during build or do I have to change the Arch Linux package build do fix this? Sorry I am a total electron/npm noob.

[2019-09-19 12:58] vantezzen commented on #59
You don't have to change anything in your package. The script will automatically be applied when pushing to GitHub, so the translations on GitHub are already fixed.
Additionally, one can manually run `npm run prepare-code` or `npm run apply-branding` to manually apply the branding before pushing it to GitHub.

[2019-09-19 13:02] Makazzz commented on #60
I just saw this but I don't know if it will work https://github.com/marketplace/actions/git-sync-action

[2019-09-19 13:04] vantezzen commented on #60
We'll just have to make sure it only creates a PR and not force-pushes directly to the repo - that could break quite some things.

[2019-09-19 13:06] Makazzz commented on #60
Your right that what it is saying in [GitHub Repo Sync](https://github.com/marketplace/actions/github-repo-sync#advanced-usage-sync-all-branches)

[2019-09-19 13:09] vantezzen commented on #59
I see that getferdi.com is currently parked. Can you redirect it to this repo?
And server.getferdi.com and slim-server.getferdi.com to their repos?

[2019-09-19 13:11] vantezzen commented on #60
That is to sync all branches, we only need to sync the master branch.

[2019-09-19 13:12] Makazzz commented on #60
Oh ok good to hear.

[2019-09-19 13:15] kytwb commented on #59
![Screen Shot 2019-09-19 at 8 14 42 PM](https://user-images.githubusercontent.com/412895/65247198-281afa00-db1a-11e9-8676-ee41fb49cd74.png)

[2019-09-19 13:16] vantezzen commented on #60
I think we might have to fork <https://github.com/repo-sync/github-sync> and modify it so it only create a PR instead of directly merging.
@kytwb will you look into this?

[2019-09-19 13:19] kytwb commented on #60
What about https://github.com/repo-sync/repo-sync?

[2019-09-19 13:21] kytwb commented on #60
@vantezzen I will take a look at it tomorrow yep, signing off for today 😃 Nice going everyone!

[2019-09-19 13:28] vantezzen commented on #60
Yes, doesn't work for this case but I think its best to fork this and go from there as this project already has the PR creation process right.

'till tomorrow.

[2019-09-19 17:55] PandaWhisperer commented on #19
This worked for me, or at least it did once I figured out that on MacOS, this file is located at `~/Library/Application Support/Ferdi/recipes/whatsapp/index.js`.

[2019-09-19 18:13] kytwb commented on #19
@PandaWhisperer do you still need this manual fix with the latest version?

[2019-09-19 18:16] PandaWhisperer commented on #19
@kytwb I am on 5.3.0, installed about a week ago via Homebrew. As far as I can tell, that is the latest version (in-app update checks confirms this).

[2019-09-19 18:35] vantezzen commented on #19
@PandaWhisperer The newest version is 5.3.3, this bug should be fixed in 5.3.1+ (although you sometimes need to reload WhatsApp using CMD+R to work).
Can you try updating the cask via Homebrew or manually upgrading Ferdi?

[2019-09-19 18:38] PandaWhisperer commented on #19
@vantezzen I tried both, but neither the in-app update checker or `brew cask outdated` is reporting any available updates to install.

Also, since I just manually fixed it, I don't suppose installing newer version of Ferdi would overwrite those changes? I assume the config directory is only created once, when Ferdi is started for the first time.

[2019-09-19 18:42] vantezzen commented on #19
Ferdi won't overwrite the WhatsApp recipe but v5.3.1 added the fix [directly to Ferdi's code](https://github.com/getferdi/ferdi/commit/1b18a7bca03de32913bc72493ac60017f89c9237#diff-c3386349bcde3a47628bff8e89fa160cR170) and uses is across all services.

[2019-09-20 04:18] kytwb opened #61 "Double-check in-app / brew updates"
See https://github.com/getferdi/ferdi/issues/19#issuecomment-533257404:

[2019-09-20 07:01] bittner commented on #47
The "About Ferdi" is in the right place now (the "?" menu). But the "Todo" menu is empty now, which is a bit ... err ... funny! :smile:

Specifically, it has a disabled menu item that says "(empty)".

[2019-09-20 07:29] kytwb opened #62 "Investigate excessive memory usage"
A lot of Franz users are complaining about/leaving the boat because of reported high memory usage from the app. It could be interesting to investigate. Assigning to me for now, but feel free to jump in and share your leads, attempts and/or thought process.

[2019-09-20 07:39] vantezzen commented on #62
I would suggest trying to get Ferdi to use excessive memory, then using [Station's electron-process-manager](https://github.com/getstation/electron-process-manager) to see what is using the memory.

We could add a [Hibernate Feature](https://rambox.pro/#feature-details/hibernation) if the memory consumption comes from the service webviews.

[2019-09-20 07:55] vantezzen commented on #47
Oh, the todo menu creation threw an error as it used `window.franz` instead of `window.ferdi`. 28a7345 should have fixed this error now.

[2019-09-20 08:18] #48 closed

[2019-09-20 11:01] joonasy commented on #5
+1 Please make it optional! I see no point in having an additional wrapper account for using my actual accounts.

[2019-09-20 11:52] bittner commented on #36
We should make sure to make fixes to issues like that in upstream. So we don't need to manage the code delta as an overhead here.

[2019-09-20 12:07] #59 closed

[2019-09-20 13:47] vantezzen commented on #36
I've looked into this and the Skype client uses the following (unusual) technique to open links:
[code]

Franz, however, expects the service to open the URL directly, like
[code]

@kytwb it looks like you removed yourself from this issue? I would create a fix for the Franz repo in this case.

[2019-09-20 14:12] vantezzen commented on #36
Submitted fix in [franz#1621](https://github.com/meetfranz/franz/pull/1621)

[2019-09-21 00:49] PandaWhisperer commented on #19
@vantezzen gotcha. So while Ferdi still doesn't show up when I run `brew cask outdated`, I do seem to be able get the newest version by running `brew cask upgrade ferdi`.

It's downloading 5.3.3 right now. Perhaps `brew cask outdated` is broken, or casks just work differently?

[2019-09-21 00:51] PandaWhisperer commented on #61
Copied from [here](https://github.com/getferdi/ferdi/issues/19#issuecomment-533753595):

[2019-09-21 01:07] deadmeu opened #63 "Launch on start registering Electron binary, not Ferdi's"
**Describe the bug**
On Linux, when "Launch Ferdi on start" is enabled in the General settings, an autostart entry is added pointing to electron4, not Ferdi. Disabling the setting removes the electron4 autostart entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Launch Ferdi on start in the General Settings
2. Check your autostart entries for the addition of electron4

**Expected

[2019-09-21 07:45] kytwb commented on #36
@vantezzen well done! 💪

[2019-09-21 08:00] vantezzen commented on #63
We could see if switching from [Franz's custom package](https://github.com/meetfranz/node-auto-launch) to the [official node-auto-launch](https://github.com/Teamwork/node-auto-launch) fixes this bug.

[2019-09-21 08:08] vantezzen commented on #61
The auto-updater on mac currently does not work due to:

Build-in updater: The build-in updater uses the `electron-updater` package. This package requires the updated application [to be signed](https://www.electron.build/auto-update) in order to work. As Ferdi releases are currently not yet signed, this method won't work.

Brew cask: `brew cask outdated` shows a list of outdated casks **that do no

[2019-09-21 08:10] vantezzen commented on #19
You'll have to run `brew cask outdated --greedy` in order to see if Ferdi is outdated.

https://github.com/getferdi/ferdi/issues/61#issuecomment-533778359

[2019-09-22 13:16] bittner commented on #36
Wow, that's actually awesome! An issue that is bugging users for months, solved via the renegade spin-off project. :100: :crossed_swords:

BTW, we may call the dark-blue label "contribute upstream". (I know, this is maybe less self-explanatory for everyone, unlike "Implement into Franz", but I think this is somewhat the official term of fixing stuff in the parent project.)

[2019-09-23 07:42] keunes commented on #5
Thanks for for working on Ferdi! Franz seems great, but it's sad you need an account that forces you to sync (which is what the webservices that I add to Franz are already for). Very interested in Ferdi if it could 'solve' that issue :)

[2019-09-23 07:44] keunes opened #64 "Website down?"
The project description has https://getferdi.com listed as the website, but that site doesn't seem to work. Maybe it's only used for sync server? Would be nice to have a website, too, even if a simple one.

[2019-09-23 07:53] vantezzen commented on #64
Thank you for your feedback. getferdi.com should normally redirect you to this. It was down for me yesterday too but works fine now. Do you still have problems?

Additionally, I am currently working on a simple landing page for getferdi.com that should showcase  this project a little better.

[2019-09-23 12:14] Makazzz commented on #64
getferdi.com never worked for me just infinite loading page.

[2019-09-23 12:52] vantezzen commented on #64
It looks like my Chrome still had some cache. I have now restarted and neither Chrome nor Safari can load getferdi.com. [downforeveryoneorjustme.com also says that its down](https://downforeveryoneorjustme.com/getferdi.com).

@kytwb have you changed some settings? Also, could you take a look at <https://github.com/getferdi/website>?

[2019-09-23 12:53] kytwb commented on #64
Removed it from the description for now until we finish setting things up properly. Currently moving from Namecheap's to Cloudflare's DNS to manage the entries from there. Will close the issue once everything point back to the GitHub repositories.

[2019-09-23 13:04] Makazzz opened #65 "Character "&" before text in tabs"
**Describe the bug**
When installing Ferdi and launching it I can see some "&" before some text.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Ferdi
2. Open Ferdi
3. Sign / Create account
4. See error in the top of Ferdi

**Expected behavior**
It supposed to be only File, Edit, View and not &File &Edit &View

**Screenshots**
![errorontop](https://user-images.githubusercontent.com/4

[2019-09-23 13:07] vantezzen commented on #65
This issue got introduced through #27. The `&` [should only get used internally](https://electronjs.org/docs/api/menu#static-methods) and not get shown. Will have to see why the `&` get shown.

[2019-09-23 13:08] Makazzz commented on #65
Thanks for the info.

[2019-09-23 13:21] kytwb commented on #64
@vantezzen LGTM! 👍 https://getferdi.com should be back up with the actual website instead of the previous redirect to the main GitHub repository.

![Ferdi  All your services in one place   Ferdi](https://user-images.githubusercontent.com/412895/65428963-8825df00-de3f-11e9-945f-f0039d240a16.png)

[2019-09-23 13:21] #64 closed

[2019-09-23 13:50] kytwb commented on #61
@vantezzen Thanks for the explanations! Awaiting  https://github.com/getferdi/ferdi/pull/52 then.

[2019-09-23 14:52] kytwb opened #66 "Add [Working Hours](https://rambox.pro/#feature-details/work_hours) feature"
https://rambox.pro/#feature-details/work_hours

[2019-09-23 14:52] #66 closed

[2019-09-23 14:53] kytwb opened #67 "Add search in service feature"
https://github.com/meetfranz/franz/issues/193

[2019-09-23 14:54] kytwb opened #68 "Add quick switcher feature"
https://rambox.pro/#feature-details/quick_switcher

[2019-09-23 14:55] kytwb opened #69 "Add adblock feature"
https://rambox.pro/#feature-details/ad_block

[2019-09-23 15:05] Makazzz commented on #60
Why is this removed from the To do Roadmap?

[2019-09-23 15:09] kytwb commented on #60
@Makazzz I just followed-up in the Reddit comments of this thread sharing the link to the roadmap and thought it would be better to keep development operations outside of the roadmap for it to show only incoming enhancements. WDYT?

[2019-09-23 15:12] Makazzz commented on #60
If it help the developpment of Ferdi it is good for me. But what is the reddit link?

[2019-09-23 15:13] kytwb commented on #60
Edited with the missing link: https://www.reddit.com/r/opensource/comments/d6r8ma/franz_messenger_has_been_hardforked_by_the/

[2019-09-23 15:17] vantezzen commented on #68
Overall functionality is implemented. The only problem is, that I cannot get the focus back to the search field when focus is inside a webview ([This is a known issue](https://github.com/electron/electron/issues/17882)).

[2019-09-23 15:30] vantezzen opened #70 "No community recipes get shown anymore"
It looks like Franz has had a server-side update the last days.
Whenever I try to create create a new service using my Ferdi test account, I only get a very limited number of recipes that I can choose from (see video below).

![Screen Recording 2019-09-23 at 17 19 56](https://user-images.githubusercontent.com/10333196/65439007-c95dc500-de26-11e9-827f-a546755ce8b8.gif)

Looking further into this, F

[2019-09-23 15:36] vantezzen opened #71 "Add universal dark-mode"
As suggested in https://www.reddit.com/r/opensource/comments/d6r8ma/franz_messenger_has_been_hardforked_by_the/f183uw0?utm_source=share&utm_medium=web2x.

Ferdi currently relies on recipe creators to create a custom `darkmode.css` file for each service to provide a dark mode.

We could add the functionality behind the "dark reader" extension to services that don't have a `darkmode.css`.

[2019-09-23 15:57] Gaboris commented on #71
That or if full automation isn't possible or glitchy just add a method to manage the darkmode.css within Ferdi.

Basically if it's missing allow users to create one and if there is one then display its content in an editor so that we wouldn't have to navigate the Ferdi folders and try to figure out if we messed up or if Ferdi just doesn't find it by default.

[2019-09-23 16:26] kytwb commented on #60
@vantezzen I went with setting up repo-sync between getferdi/ferdi and kytwb/franz; my fork of Franz still use the pull bot to stay in sync with the upstream. WDYT?

[2019-09-23 16:39] vantezzen commented on #60
Good idea.

[2019-09-23 16:40] #60 closed

[2019-09-23 16:43] Makazzz commented on #70
I am using the 5.3.4-beta.1 and I still see all the service with the default server of franz for the moment.

[2019-09-23 16:46] kytwb commented on #60
Moved the fork to the org instead, so repo-sync is between getferdi/franz and getferdi/ferdi now.

[2019-09-23 17:59] vantezzen commented on #70
@Makazzz this change is currently only visible when using the Franz Development API, not the normal API server, but I guess that this change will roll out to the normal server sometime in the near future.
This is why I think we should already prepare and think of possible solutions so that we are prepared when it does roll out.

[2019-09-23 18:05] Makazzz commented on #70
Good to know.

[2019-09-23 18:20] vantezzen commented on #71
I have now implemented darkreader into Ferdi via 1eb148d. Looks good to me but needs testing via the next beta build.

[2019-09-23 18:25] kytwb commented on #70
@vantezzen What about taking a snapshot of the response payload and hardcode it for now or use it as a fallback if the API doesn't return anything? Until we figure a longer-term plan.

[2019-09-23 18:36] vantezzen commented on #70
Good idea.
My only concern with this is that Ferdi will first fetch the list of available recipes, then download the single recipes. I don't currently know if the recipe download is also restricted or if the protection is only implemented into the recipe listing.
I have downloaded the current list of all recipes, we'll have to test if this works.

[2019-09-23 19:09] Gaboris commented on #71
Wow, that was crazy fast. :D
Was it just some kinda "plug and play" type module?

[2019-09-23 19:17] vantezzen commented on #71
Yes, DarkReader fortunately has an [npm package](https://github.com/darkreader/darkreader#using-for-a-website) that can simply be imported in the services webview to enable Darkmode.

[2019-09-24 04:39] kytwb opened #72 "Building dictionaries fails"
**Describe the bug**
When running `npm run build` or `npm run dev`, the last build task (`dictionaries`) fails. When running `npm run dev` it is blocking, but not when running `npm run build`.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm run dev`
2. See error:

[code]

In Travis, stderr is a bit different as it seems to be complaining about the missing package.json but still manage t

[2019-09-24 06:26] AGCaesar commented on #71
I just tried it out and the new dark mode messes with the discord service. The server icons are... darker than they should be, like an additional gray overlay. See here:https://i.imgur.com/HpAZ1AP.png
Top: Ferdi Dark mode
Bottom: Normal ferdi with discord dark mode
Should be the same
Whatsapp FB and telegram look fine on first glance

[2019-09-24 07:18] kytwb opened #73 "Proposal for funding solution"
Instead of making Ferdi freemium, I want to propose to let the community fund the project if they're willing too (and can), via [OpenCollective](https://opencollective.com/). We just reached 100 stars on GitHub and can now create a Collective to start accepting donations and openly decide where the money goes. Opening the discussion!

[2019-09-24 07:27] vantezzen commented on #72
Hmm, when running `npm run dev` on my computer it also complains about no package.json but it does just continue

[code]

Which versions of node and npm are you on? In my case:
[code]

[2019-09-24 07:28] vantezzen commented on #72
Hmm, when running `npm run dev` on my computer it also complains about no package.json but it does just continue

[code]

Which versions of node and npm are you on? In my case:
[code]

[2019-09-24 07:40] kytwb commented on #72
Got it after reading a bit more carefully:

My project is in a "Side Projects" directory containing a space.
Fixed via https://github.com/getferdi/ferdi/commit/52d2899bfd40a8383fe1f3592ef2f5b43e0bde8d.

[2019-09-24 07:40] #72 closed

[2019-09-24 07:56] vantezzen commented on #71
@AGCaesar Thank you for your feedback. I have now created a list of websites that it should not add DarkReader to and added Discord (b3a9cf4).

[2019-09-24 07:58] kytwb commented on #36
Can we implement the fix into Ferdi already? As it seems to take some time to get implemented in upstream.

[2019-09-24 08:02] vantezzen commented on #36
Yes, the fix is now implemented into Ferdi as of 438b9fe.

[2019-09-24 08:05] AGCaesar commented on #71
Worked perfectly! Thanks!

[2019-09-24 08:08] #71 closed

[2019-09-24 08:08] #68 closed

[2019-09-24 08:38] #36 closed

[2019-09-24 10:36] kytwb commented on #71
Shipped in [v5.3.4-beta.2](https://github.com/getferdi/ferdi/releases/tag/v5.3.4-beta.2)

[2019-09-24 10:36] kytwb commented on #68
Shipped in [v5.3.4-beta.2](https://github.com/getferdi/ferdi/releases/tag/v5.3.4-beta.2)

[2019-09-24 10:36] kytwb commented on #36
Shipped in [v5.3.4-beta.2](https://github.com/getferdi/ferdi/releases/tag/v5.3.4-beta.2)

[2019-09-24 11:11] vantezzen commented on #70
My original argument would have been that all these files would be too large, but it looks like all current recipes combined are only around 2.3MB, 1.4MB if we ship them compressed. Adding to the ca. 90MB Ferdi already has this wouldn't make too much of a difference.
I'll look into how hard it is to implement this into the code.

[2019-09-24 11:26] kytwb commented on #65
@rseitbekov @vantezzen found a comment stating the accelerator is different based on the platform: https://github.com/electron/electron/issues/9584#issuecomment-304050674

[2019-09-24 11:38] vantezzen commented on #65
Hmm, but it states that `&` is the right accelerator for windows - which this issue is referencing, so it still doesn't explain it.
If we can't find a solution we can also declare the accelerator separately.

[2019-09-24 11:39] kytwb commented on #65
Ah my bad, I don't know why I thought it was related to Ubuntu somehow 😅

[2019-09-24 13:50] #35 closed

[2019-09-24 14:34] kytwb commented on #61
<img width="311" alt="Screen Shot 2019-09-24 at 9 25 47 PM" src="https://user-images.githubusercontent.com/412895/65520533-ea4f1480-df11-11e9-9718-486367edaae2.png">

<img width="237" alt="Screen Shot 2019-09-24 at 9 32 48 PM" src="https://user-images.githubusercontent.com/412895/65521179-01dacd00-df13-11e9-9801-b142baa9b1af.png">

<img width="297" alt="Screen Shot 2019-09-24 at 9 33 19 PM" src="h

[2019-09-24 14:34] #61 closed

[2019-09-24 15:13] kytwb commented on #73
<img width="626" alt="Screen Shot 2019-09-24 at 10 12 23 PM" src="https://user-images.githubusercontent.com/412895/65524685-6c423c00-df18-11e9-9b87-f59171bec043.png">

https://opencollective.com/getferdi

[2019-09-24 16:23] kytwb opened #75 "Add hibernate feature"
https://rambox.pro/#feature-details/hibernation

[2019-09-24 16:25] kytwb commented on #62
@vantezzen Good idea, opened https://github.com/getferdi/ferdi/issues/75. Still willing to take a more in-depth look at things under high usage to see if there is things we can do better performance-wise.

[2019-09-24 18:00] ZeroCool940711 opened #76 "Add Instagram recipe/service."
Would be nice to have a Ferdi recipe/service for Instagram Direct Messages, that way we could use ferdi for Instagram on desktop instead of another app. I've found [this](https://github.com/alexdevero/franz-instagram-recipe) repository with a franz recipe but it seems to be outdated and the chat is broken. First of all when you write a text and hit `Enter` on the keyword it has a behavior like pre

[2019-09-25 00:44] kytwb commented on #73
Related: https://blog.opencollective.com/ten-steps-to-successful-open-source-crowdfunding/

[2019-09-25 01:58] kytwb commented on #65
Not sure if related: https://github.com/meetfranz/franz/pull/1323#issuecomment-482507454

[2019-09-25 08:55] vantezzen commented on #70
I have now added this functionality via 64ab923.
Recipes are now stored inside [getferdi/recipes](https://github.com/getferdi/recipes) and will be included as a submodule inside this repository. It works fine in development but we'll have to see  if building it breaks things.

I've also added console output indicating if it uses the build-in recipe files or fetches them from the server - if it out

[2019-09-25 08:57] vantezzen commented on #70
I do however still think that (if we get enough money through OpenCollective) we should run our own Ferdi server as I don't think Franz's creators will be too happy about this fork using their servers without paying for premium accounts.

[2019-09-25 09:57] vantezzen commented on #75
I have now implemented this feature in 666ec21. The hibernation can be enabled in the settings and will kick in after 5 minutes - we need to see it this is too short.

[2019-09-25 09:57] #75 closed

[2019-09-25 13:00] AGCaesar opened #77 "Ferdi does not show services after latest commits"
Ferdi just shows a purple screen after the last I think 3 patches. I updated yesterday and it worked, today i rebuild from git and it is broken, not sure which commit could be at fault. Other users have the same Problem, see latest comment with screenshot here: https://aur.archlinux.org/packages/ferdi-git/

[2019-09-25 13:37] AGCaesar commented on #77
I created a package for the stable releases of ferdi so users will not break their software with each risky commit :)
https://aur.archlinux.org/packages/ferdi/
At the moment  I am to lazy to also create a ferdi-beta package, maybe later :)

[2019-09-25 15:59] vantezzen commented on #77
Can you open the developer console? If yes, could you please post a screenshot of any errors it reports?

[2019-09-25 17:07] AGCaesar commented on #77
![20190925190653_window](https://user-images.githubusercontent.com/7844066/65623286-bb937580-dfc7-11e9-9a2b-ae8621a9a095.png)
Does this help? :)

[2019-09-25 18:51] vantezzen commented on #77
So the commits that could have caused this issue could be 64ab923 or 666ec21.

I don't think 666ec21 adds anything that could cause this error so I suspect 64ab923.
How exactly did you rebuild the app from git? Did you only pull to an existing clone and `npm run build` or did you clone into an empty directory?
If its the first then I would suggest trying `npm rebuild` or deleting node_modules and

[2019-09-25 19:07] AGCaesar commented on #77
I build it using the Arch AUR packagebuild:  https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ferdi-git
To be honest I do not really understand what happens there... but I rebuild it after leaning out all cached stuff and it still fails

[2019-09-26 04:02] kytwb commented on #77
@AGCaesar

Even though the master branch should always be working in theory, I recommend shipping only tagged commits as they are confirmed to be working and used to generate the releases for the other platforms as you can see in the [Releases](https://github.com/getferdi/ferdi/releases) tab.

If I understand, you manually update the package for now? Do you think it's possible to automate the buil

[2019-09-26 04:11] kytwb commented on #70
@vantezzen Agreed, we should remove the dependency on Franz resources usage as soon as possible. I think https://github.com/getferdi/ferdi/issues/50 and #5 will bring us closer to it. We will still need to make sure new users with an existing Franz account trying to transition to Ferdi can still import their workspaces and such.

In the meantime, I'm happy to provide access to an EC2 instance if y

[2019-09-26 04:19] kytwb commented on #70
In Travis it should be fine (see this [line](https://travis-ci.org/getferdi/ferdi/jobs/589598900#L191)). In AppVeyor it is not ok I think as the build shows no mention of the submodules being taken in consideration:

[code]

Should be fixed via https://github.com/getferdi/ferdi/commit/5d2a1b816f1f668e02a8b49aec55b8dba104d213.

[2019-09-26 05:07] kytwb opened #78 "Get ready for Hacktoberfest"
[Hacktoberfest 2019](https://hacktoberfest.digitalocean.com/) is starting on October 1st. I'm opening this discussion to let you know if you don't know, and to invite you to take part in it:

Sign-up, then remember to make pull requests instead of pushing directly to the master branch.

I think we can also use the event to create some `good first issue`, and on October 1st add the `hacktoberfest`

[2019-09-26 07:59] vantezzen commented on #70
Yes, I could set up the EC2 instance.

[2019-09-26 08:38] AGCaesar commented on #77
@kytwb  As mentioned above I created a Arch Package that only ships ferdi release versions, that should me much safer.

I do nor manually update the packe.. the way aur works is this: For the stable package I have to change the version each time it is updated, but that is easy. The git package automatically fetches the latest git version.
Each time you perform an update (yay -Syu for example, equi

[2019-09-26 08:41] vantezzen commented on #76
Good first issue for Hacktoberfest. This issue doesn't require any code changes in Ferdi itself (only a PR to getferdi/recipes).
You want to solve this issue? Here are some tips to get started:
- Download Ferdi's [latest build](https://github.com/getferdi/ferdi/releases)
- Download <https://github.com/alexdevero/franz-instagram-recipe> and add it as a custom recipe (more info on that can be found

[2019-09-26 08:47] vantezzen commented on #69
Good issue for Hacktoberfest if you are familiar with Electron and React.

What to do?
- Add an adblocker to the Webview that gets created inside `src/components/services/contents/ServicesWebview.js`

[2019-09-26 08:53] kytwb commented on #77
Understood, thanks for the explanation and for maintaining the Arch Package! 😃🙏 Should we consider this issue closed now you created the stable release?

[2019-09-26 09:04] kytwb commented on #77
Added a quick note to the README on how-to properly clone the git repository for a development build purpose (so the recipes are not missing) via https://github.com/getferdi/ferdi/commit/061d5edab7b0d330f52c3dd0dbb473e4cfa0d203. Also related to https://github.com/getferdi/ferdi/issues/70.

[2019-09-26 09:07] #70 closed

[2019-09-26 10:35] vantezzen commented on #35
@kytwb Can you add this expense to opencollective?

[2019-09-26 11:10] AGCaesar commented on #77
I tried including git submodule update --init --recursive into the arch build but it somehow fails. I could not figure out why until now, the files get downloaded but are not included in the build it seems...
Is it easyer for you to ship the recepies in a submodule and nut just put them directly in the ferdi repo?

[2019-09-26 11:12] kytwb commented on #77
I'm ok with @vantezzen decision of having the recipes in a submodule. Could you share some reproduction steps/logs so we can try to help troubleshoot the issue?

[2019-09-26 11:14] AGCaesar commented on #77
is there a discord/irc server to discuss this? this might be easier to explain :)

[2019-09-26 11:18] vantezzen commented on #77
Splitting recipes into a separate repository allows Ferdi's codebase to stay cleaner and adds a better visual overview than constantly having 70+ .tar.gz files in your file tree . It also allows new recipe PRs to be directed to getferdi/recipes, keeping the PR, issue and commit list of this repository limited to the actual codebase of Ferdi - not its plugins.

[2019-09-26 11:19] kytwb commented on #77
We don't have a Discord/IRC channel just yet; I'm happy to help in the open (here) so if other people run into the same issue, this thread can be helpful to them as well. Otherwise, if you prefer, feel free to reach out directly in private at amine@mouafik.fr and we can take it from there. Thank you! 🙏

[2019-09-26 11:23] kytwb commented on #35
@vantezzen done.

[2019-09-26 11:30] AGCaesar commented on #77
Ok, lets see if I can show something helpful. Not sure if you use Linux/arch
This is the install instruction used by the build script:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ferdi-git
I mainly cloned it from the franz instructions as I understand very little about any npm stuff.
Here is the output of the console while building:
https://pastebin.com/MrPbQD9h
Please excuse my horribl

[2019-09-26 11:34] kytwb commented on #77
Maybe related to https://wiki.archlinux.org/index.php/VCS_package_guidelines#Git_Submodules?
They recommand:

[code]

Instead of:

[code]

[2019-09-26 11:58] AGCaesar commented on #77
I tried both methods, both clone the recipes directory into src/ferdi/recipes but I still have the impression that the folder or the files inside are ignored during build

[2019-09-26 12:03] vantezzen commented on #77
Can you try to clone the recipes repository into `src/ferdi/build/recipes`?

[2019-09-26 12:05] AGCaesar commented on #77
Not sure how, but the recipes are also in this folder.

[2019-09-26 12:09] vantezzen commented on #77
Yes the gulpfile copies them there.
I just thought they might not get copied there but it seems like they do.

[2019-09-28 03:04] deadmeu commented on #63
May be related, but when hovering over the Ferdi icon in my taskbar, the dialog box lists Ferdi as being named "electron4", instead of "Ferdi". Should I raise this as a separate issue?
![image](https://user-images.githubusercontent.com/12111013/65810645-3343e900-e1f0-11e9-9c61-05c2707341a6.png)

[2019-09-28 09:25] vantezzen commented on #63
No I think this is related. Did you installed Ferdi through the official [release packages](https://github.com/getferdi/ferdi/releases) or through something like the AUR package?

[2019-09-28 09:54] deadmeu commented on #63
AUR package, do you think it might be the packaging? Maybe @AGCaesar can help?

[2019-09-28 10:01] vantezzen commented on #63
Maybe. The AUR packages gets build separately from how we package Ferdi.

@AGCaesar I don't quite know what it does, but [this line in your PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ferdi-git#n42) looks like it may be causing this issue?
[code]

[2019-09-28 10:11] AGCaesar commented on #63
@deadmeu @vantezzen I created the AUR package mainly for myself to update ferdi easily... I have basically no Idea what I am doing, I copied the franz build and changed a few things... (Just to dampen expectations)
But maybe we can work out something together....
The sed command just changes the "electron" occurrences to "electron4" bevause the native electron package in arch is electron 6...

Fer

[2019-09-28 10:25] vantezzen commented on #63
Oh that could be the problem: In your package, Ferdi is not really build to an application, it is only started using Electron - this is the same I do during development. When doing this, Ferdi can't properly add its branding to the application:
![Screenshot](https://user-images.githubusercontent.com/10333196/65815043-51a6e600-e1ea-11e9-9f8a-f2891a38f302.png)

It makes sense that `usr/lib/electron4

[2019-09-28 10:30] AGCaesar commented on #63
I will give it a try, give me some time :) Thanks for the hints!

[2019-09-28 13:44] AGCaesar commented on #77
I now suspect the change from electron4 to electron6 in commit 742a8264f1b01137d1f23eb6876b20b8c27748b7 is the cause, not the recipes. not sure how to handle that atm...

[2019-09-28 14:13] vantezzen commented on #77
That change originates from [PR #52](https://github.com/getferdi/ferdi/pull/52/files?file-filters%5B%5D=.json&file-filters%5B%5D=.plist#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R127), didn't even know we updated to Electron 6.

[2019-09-28 14:16] AGCaesar commented on #77
ok, after i fixed the electron 6 compilation i get a real error with the modules I guess. Any hints what went wrong?
![20190928161108_window](https://user-images.githubusercontent.com/7844066/65817702-e4f01380-e20a-11e9-961d-f2245f8e53f9.png)

[2019-09-28 15:06] vantezzen commented on #77
I just pushed 7040eae which should fix this problem. Can you update and try again?

[2019-09-28 15:12] AGCaesar commented on #77
This works! Thank you :) you can close this

[2019-09-28 15:13] #77 closed

[2019-09-28 23:52] Makazzz opened #79 "Go back and go forward still not implemented"
**Describe the bug**
The feature from [this issue](https://github.com/getferdi/ferdi/issues/39) is still not implemented in Ferdi. Not even working when using CTRL+LEFT or RIGHT and the menu "View" doesn't show the options either.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Ferdi
2. Click on View
3. Nothing is showing about Back and Forward
4. Do CMD or CTRL+LEFT or Right while nav

[2019-09-29 00:02] AGCaesar commented on #63
I tried a lot (and actually this way I found the bug in #77 but I did not manage to create a working auto start shortcut... All examples I looked at start it similar to this: https://aur.archlinux.org/cgit/aur.git/tree/rocketchat-desktop?h=rocketchat-desktop

[2019-09-29 00:03] Makazzz opened #80 "Still need to replace leftover Franz references"
**Describe the bug**
The leftover about Franz is still in Ferdi. And [it was discussed 9 days ago](https://github.com/getferdi/ferdi/issues/59) but the build are still not changing the branding.

"Changelog" links to https://github.com/meetfranz/franz/blob/master/CHANGELOG.md and not https://github.com/getferdi/ferdi/blob/master/CHANGELOG.md,
"Support" links to https://meetfranz.com/support and no

[2019-09-29 00:15] Makazzz opened #81 "Replace Release in the About Ferdi with Electron instead"
**Is your feature request related to a problem? Please describe.**
Its not about a problem but more about for a clarity. Because if a new user go in the About Ferdi and see this
[code]
it will be confusing about and be like "Why is there two version about Ferdi?"

**Describe the solution you'd like**
So my idea is to simply replace "Release" with Electron for more clarity.

[2019-09-29 00:46] Makazzz commented on #81
#82

[2019-09-29 02:16] Makazzz commented on #80
[pull request](https://github.com/getferdi/ferdi/pull/82)

[2019-09-29 07:01] vantezzen commented on #80
Thank you for your feedback and PR.

The "Terms of service" and "Privacy Statement" should however not link to getferdi.com (these documents are only meant for the website itself, not the app), but rather be changed dynamically based on the current server you choose (as that is the terms and privacy policy you operate in). The code for this can be found in [`src/components/auth/signup.js, Line 120

[2019-09-29 07:13] vantezzen commented on #79
Oh yes, I see the problem: The buttons are currently only implemented into the Mac menu.

Should be fixed with 1168ef1.

[2019-09-29 10:02] vantezzen commented on #80
@all-contributors Please add @Makazzz for bug, code

[2019-09-29 10:09] #79 closed

[2019-09-29 18:26] #81 closed

[2019-09-29 18:26] #80 closed

[2019-09-29 20:02] patrickcurl opened #83 "Custom JS/CSS for specific service"
I can't stand light interfaces.. they make me want to gouge my eyes out.

Github, and some of the other services have white backgrounds it'd be nice to be able to
pull in my styles from stylish to use in Ferdi.

[2019-09-29 20:07] Makazzz commented on #83
There is [an issue from few days ago](https://github.com/getferdi/ferdi/issues/71) about implementing Dark Reader and it is already done, but I myself don't find the way to activate it.

[2019-09-29 20:08] Gaboris commented on #83
Hi @patrickcurl

This is a copy-paste of a "guide" I made for another person back on the Franz Git. :)

/*
Custom themes are actually supported, but they need to be applied manually since we don't have a built in method to upload them yet.

For example I made my Messenger nice and dark with just a simple CSS I got from Stylish and several people here who figured out how to make it work. :D

Just d

[2019-09-29 20:11] Makazzz commented on #83
Thanks @Gaboris, but does Dark Reader work the same way or it is automatic?

[2019-09-29 20:13] Gaboris commented on #83
THAT, I don't know. It might be because since the update my custom themes were randomly getting disabled so maybe Dark Reader is reverting them again without me knowing.

I'm gonna post an issue about this if I can do some test with it later on.

[2019-09-29 20:14] vantezzen commented on #83
Custom CSS and custom JS injection could be something we could think about implementing.

For your use case, you can use the universal Dark Mode in the next update. It uses DarkReader to dynamically create a dark mode for the current service. Alternatively, you can use the darkmode.css method @Gaboris pointed out. You can find darkmode.css files for common services at <https://github.com/MikeDabro

[2019-09-29 21:15] Makazzz opened #85 "Quick Switch shortcut conflict"
**Describe the bug**
In the File there is "Settings" with the description "CTRL+P" but it appear that the [Quick switch feature (see commit)](https://github.com/getferdi/ferdi/commit/1d41b849cb7840a1611d34f20bfe636fc8b903dc) is using this shortcut instead. And when putting the mouse over the cog in the bottom left corner: we can see a bubble saying "Settings (CTRL+,)" with no other key to show wha

[2019-09-29 21:27] patrickcurl commented on #83
Thanks everyone for the tips. Will apply them when I get a chance!

[2019-09-29 21:41] Makazzz opened #87 "Portable apps and in-app updates tweaks"
**Is your feature request related to a problem? Please describe.**
For the next release I will create Ferdi in PortableApps format (Already done for Franz and I will do it for Ferdi too) and It will be very great If a switch could be added so the app will not rewriting by himself and maybe asking for admin write.

**Describe the solution you'd like**
Like adding a button/swith for desactivate upda

[2019-09-30 12:38] vantezzen commented on #50
I started working on this feature in the [store-data-locally branch](https://github.com/getferdi/ferdi/tree/store-data-locally) (especially with the 7fd5123 commit), but I currently can't get it to wait for the service store to get rehydrated from local storage.

[2019-09-30 13:34] LVladymyr opened #91 "User can not add custom service"
Steps:
Try to add custom recipe.

![изображение](https://user-images.githubusercontent.com/3667837/65883563-fae30d00-e39f-11e9-9836-e76cfae86ae7.png)

Expected:
User can add any kind of recipe.

[2019-09-30 18:19] vantezzen commented on #91
![Screenshot](https://user-images.githubusercontent.com/10333196/65904830-87e98e80-e3bf-11e9-9b80-b1d937a6d493.png)
 I can't reproduce this bug. Could you please provide me the following information:
- Your OS and OS Version
- Your Ferdi version

[2019-10-01 05:54] kytwb commented on #83
Could get inspired/copy from rambox for the implementation of JS/CSS injection: https://rambox.pro/#feature-details/js_css

[2019-10-01 06:19] vantezzen commented on #83
Also related: [franz#1587](https://github.com/meetfranz/franz/issues/1587)

[2019-10-01 07:05] kytwb commented on #85
Will ship in the next release. Thanks @Makazzz!

[2019-10-01 07:05] #85 closed

[2019-10-01 07:10] #73 closed

[2019-10-01 08:31] LVladymyr commented on #91
OS Name	Microsoft Windows 10 Enterprise
Version	10.0.16299 Build 16299
Ferdi:
Version 5.3.3
Electron 4.2.4

[2019-10-01 09:30] LVladymyr commented on #91
In next version:
Version: 5.3.4-beta.6
Electron: 6.0.10 / win32 / x64
This behavior is fixed.

[2019-10-01 09:30] #91 closed

[2019-10-01 09:33] kytwb commented on #91
In case someone is running into the same issue, don't forget to include beta versions when checking for in-app updates:

<img width="568" alt="Screen Shot 2019-10-01 at 3 42 35 PM" src="https://user-images.githubusercontent.com/412895/65950906-30076200-e469-11e9-9586-510984655619.png">

[2019-10-01 10:18] kytwb opened #92 "Make a blog post"
I just came off from a call with Pia from OpenCollective following up on https://github.com/getferdi/ferdi/issues/73. She recommended we do a blog post to talk about Ferdi (we could tell the back story with Franz, explain hard forks in the opensource community, why the collective and such). We could publish this on Medium, then share/repost on specific websites like DEV.to, subreddits, etc. At a l

[2019-10-01 11:20] kytwb commented on #63
Related: https://github.com/Teamwork/node-auto-launch/issues/48

[2019-10-01 11:22] kytwb commented on #63
@AGCaesar can you try converting one of the DEB package into an Arch Linux package with debtap and see if that fixes the issue? (see https://github.com/helixarch/debtap)

[2019-10-01 11:33] kytwb commented on #63
Actually, I've just added `pacman` to the list of targets for Linux builds, that might build the deliverable you need for the AUR package? Giving it a try now.

[2019-10-01 11:35] AGCaesar commented on #63
I will wait what happens :) But I think using a deb file is possible too.

[2019-10-01 12:15] kytwb commented on #63
Not sure why the [build](https://travis-ci.org/getferdi/ferdi/jobs/591974223#L501) is failing; please try with the deb file, for now, it should be better. Would having a `.pacman` in the releases assets help you to build the AUR package?

[2019-10-01 12:29] kytwb commented on #63
From what I understand, the AUR package is built from the Linux unpacked version of the app and ran using the system electron; which is nice if you want to optimize things and use one electron to run all your electron apps, but then it shows the system's Electron details where you mentioned it. Need to use a packaged version of Ferdi (so it comes with its own electron) for it to be standalone and

[2019-10-01 13:28] AGCaesar commented on #63
The dev mode hack is copied from the Franz version and is definitely still needed with ferdi. Just build it without it and it started in dev mode... I will try building a package from the deb file and report back :)

[2019-10-01 14:06] AGCaesar opened #93 "Whatsapp web QR code not recognized in dark mode"
Not sure if it is just me or my phone/screen combination, but I just wanted to scan the whatsapp QR code link the phone and ferdi, and it did not work in dark mode. Switching to normal mode fixed this.
Can anyone replicate this issue? Could be highly confusing for new users.

[2019-10-01 14:12] AGCaesar commented on #63
@deadmeu I Created https://aur.archlinux.org/packages/ferdi-bin/
Now with working autostart! Please try it out and see if it works :)

[2019-10-01 18:47] vantezzen commented on #92
Great! How would you go about this? Do you want to write a blog article and I should proof-read or do we brainstorm topics for the post together or something else?

Again, I would still suggest we try to set up a stable Ferdi API first as it wouldn't show a great image going public and asking for money on our OpenCollective while still "stealing" server resources from Franz.

[2019-10-02 01:00] Ryonez commented on #91
Just popped in about this bug as well.

What's the expected time frame for this to hit stable?

[2019-10-02 05:38] kytwb commented on #91
@Ryonez We keep our stable version in sync with Franz, so next stable release will be out around the same time as Franz's next stable release. In the meantime, we recommend you include the beta versions when checking for in-app updates as mentioned above to get all the latest Ferdi's features/fixes.

[2019-10-02 05:39] Ryonez commented on #91
Got it, thanks for the info.

[2019-10-02 07:11] vantezzen commented on #91
@kytwb I thought we settled on this:

[#7 (comment)](https://github.com/getferdi/ferdi/issues/7#issuecomment-531718318)

In that case, we could publish our changes as 5.3.4 without waiting for Franz.
It also looks like Franz developers are currently working on a [5.4.0 release](https://github.com/meetfranz/franz/compare/release/5.4.0) and are not adding anything to [5.3.X](https://github.com/meetf

[2019-10-02 07:12] kytwb commented on #92
Let's make a call to brainstorm/outline the talking points together, then I can make the first draft and we iterate together from there 👍
Agreed regarding shipping the Ferdi API before publishing, makes total sense.

[2019-10-02 07:17] kytwb commented on #91
@vantezzen thanks for the reminder, I honestly forgot and just kept going with the betas as it seemed to be working pretty well. The only thing I see now is: what happens if we minored up before Franz on, let's say, 5.4.1, then sync to include the patches from Franz. They will be available in 5.4.2 while needing to reference merging Franz 5.4.1 into Ferdi 5.4.2, is that right?

[2019-10-02 07:39] kytwb commented on #63
@AGCaesar Well done! 👍

Regarding the previous way, I'm still confused as I see the hack as not being needed: `isDevMode` should be true in development mode, but false when we are packaging and delivering the app for production use by users. I am not sure what are all the differences between dev/prod mode in Electron internals, but building an app in dev mode then overwriting the `isDevMode` in ou

[2019-10-02 07:46] vantezzen commented on #91
Yes, thats right. At least in my opinion this isn't too critical as it is only the patch version that isn't in sync.

[2019-10-02 07:48] kytwb commented on #91
What about making beta updates checked by default and maybe adding a small in-app text to explain that the stable version is kept in sync with Franz, but we recommend getting the latest betas to enjoy Ferdi's very own latest features/patches?

[2019-10-02 08:16] justus-saul opened #94 "Additional options for Dark Mode"
After the implemntation of https://github.com/getferdi/ferdi/issues/71 I think the dark mode could use additional options regarding how it should be handled by the services:

When
[x] Join the dark force
there should be two additional options:
   [  ] Enable dark mode for services as well
   [  ] Enable universal dark mode for services with no own dark mode color scheme

I think the first option w

[2019-10-02 08:26] vantezzen commented on #91
I understand your arguments for using beta versions as release versions, but I also think it is nice to have a release channel that users can test if new features work as intended before publishing to all users.

I looked into how `electron-updater` works and it looks like it determines whether a release is a pre-release based on if it is marked as pre-release in GitHub. My idea would be to name F

[2019-10-02 08:30] Gaboris commented on #94
I support this idea!

I think the new Dark Reader approach is messing with my original custom CSS and is either stopping them from getting applied or probably reverting their effects since a lot of my services randomly need a reload to go dark again and others that do have their own dark theme end up getting messed with.

So yeah, it would be best to set up separate options for each service.
One f

[2019-10-02 08:37] vantezzen commented on #94
This shouldn't be the case, could you please provide more information? The code should only activate dark reader if no `darkmode.css` is available:
https://github.com/getferdi/ferdi/blob/master/src/webview/recipe.js#L122-L131

as suggested in #83.

We will have to wait with implementing this until we set up our own server as the settings won't get saved to the Franz server, thus resetting your dar

[2019-10-02 08:47] Gaboris opened #95 "Spellchecker stopped working"
**Describe the bug**
Since 5.3.3 or 5.3.4 my spellchecker has stopped working on all services and doesn't seem to be language specific.

**To Reproduce**
Nothing to reproduce.
Just doesn't work and doesn't seem to give any errors. The option to turn it on and set it to any language is working. Even the quick changing context menu is there for the text fields, but changing anything has no effect.

[2019-10-02 08:57] vantezzen commented on #95
I think this is due to #52 and it updating electron to v6. There are some bugs that come from this update. Franz is currently also experiencing this bug in v5.4.0 and its developer is [currently in the process of fixing these bugs](https://github.com/meetfranz/franz/compare/release/5.4.0).

[2019-10-02 08:57] Gaboris commented on #94
In that case it seems that custom styles get blocked form getting applied. At literally random my Telegram or Messenger that doesn't have a built in dark theme for its web client comes up with its default light theme even though I have darkmode.css enabled and just by reloading the service it get applied.

I know that DR doesn't seem to detect if something already has a native dark theme so I'm no

[2019-10-02 09:00] vantezzen commented on #94
I'll have to look into the problems with DarkReader overwriting existing darkmode.css themes.

I think Franz's API does some validation and only saves those settings that the official Franz client actually has. I had the same problem with the "Keep individual Workspace loaded" option, where I could save the option through a trick but I don't see any way to do this with services.

[2019-10-02 09:00] Gaboris commented on #95
OH! We're finally getting an Electron update? Sweet!

That'll solve stuff like some emoji not being supported, right? That thing's been driving me crazy.

[2019-10-02 09:01] Gaboris commented on #94
Got it. Thank you!

[2019-10-02 09:05] vantezzen commented on #95
Yes, versions of Ferdi from 5.3.4-beta.3 use Electron 6 instead of 4. I think @kytwb needed to update electron in order to sign the app?
While this comes with updates for Chromium, Ferdi still has some problems with features experiencing bugs.

[2019-10-02 09:09] Gaboris commented on #95
Oh, so it's already using v6? Darn, that means the emoji thing is different...

Gonna make a separate issue about that then in case someone knows a fix.

[2019-10-02 09:44] vantezzen commented on #87
I just published 098c46e which should _implement_ this feature. Unfortunately, this is something I can't really test so we'll have to test it over the next updates.

[2019-10-02 10:01] Gaboris opened #96 "Some emoji are not supported"
**Describe the bug**
Within services like Telegram some emoji are not supported and just display the default "missing" rectangle, but even in an old browser some more get supported and up to date one supports almost all of them so it doesn't seem like a system wide bug.

I was hoping that this is just an outdated Electron v4 problem and was hoping updating that would fix it, but since we are alrea

[2019-10-02 10:02] Gaboris commented on #96
Sorry, there were supposed to be images as well.

![ferdi](https://user-images.githubusercontent.com/9462372/66035949-6ba73800-e50c-11e9-9209-33bd04800b79.jpg)
![firefox56](https://user-images.githubusercontent.com/9462372/66035950-6ba73800-e50c-11e9-9cb1-71c0e95f6ff8.jpg)
![firefox69](https://user-images.githubusercontent.com/9462372/66035952-6ba73800-e50c-11e9-85a2-c0fad80ac635.jpg)

[2019-10-02 10:09] AGCaesar commented on #96
I never use emoji so maybe I am not the best person to test...
On my phone I can search for emojis and send them, on the web version this does not seem possible... but they all get displayed (well the black heart and the kiwi I tied :D)

But I am on linux, maybe that makes a difference..

[2019-10-02 10:30] Gaboris commented on #96
Yeah neither do I, but people around me do and it bugs me. :D

That's the other thing.
Web based Telegram uses the "system" font that's within the browser running it. Maybe Linux just uses external repositories(as far as I can remember Linux apps get kinda compiled on install) that get updated fonts while on Windows it might have something built in that has to be updated within the code or just gr

[2019-10-02 10:53] AGCaesar commented on #96
Ah... well on Linux yyou need to have a font supporting emojis to display them... Sorry I cant help with windows, not even sure which font you would install...
Maybe give this one a try?
https://www.google.com/get/noto/help/install/

[2019-10-02 11:12] Gaboris commented on #96
Thanks for the heads up. Gonna try it if I get some feedback on this in case it's not all based within Ferdi. :)

[2019-10-02 13:19] Makazzz opened #97 "Desactivate auto-build Appveyor and Travis for l10n_master"
**Is your feature request related to a problem? Please describe.**
When Crowdin get an update there is A LOT of build for these two. And Each round take one day it seem.

**Describe the solution you'd like**
Does an option exist to block auto-build from this branch?

[2019-10-02 13:45] vantezzen commented on #97
I added the `l10n_master` branch to the ignore list, everything should be fixed now.

[2019-10-02 13:45] #97 closed

[2019-10-02 13:46] vantezzen commented on #97
@kytwb Is there a way you can remove all the queued builds on Travis and AppVeyor from the queue? We don't need them.

[2019-10-02 13:50] Makazzz commented on #97
Thank you.

[2019-10-02 18:27] Makazzz commented on #95
In the Franz repo they are doing fix and update in a new branch and there is this [commit for the spellchecker](https://github.com/meetfranz/franz/commit/734732f1f901093ec78b166413aa3315f6f61248). Maybe it is related.

[2019-10-02 19:56] vantezzen commented on #95
@Makazzz I have tried merging the new commits from that branch to Ferdi locally but it seems like they havn't yet fixed all problems with the spellchecker as it still throws errors and doesn't work as intended.

[2019-10-02 20:00] Makazzz commented on #95
Then we will have to wait for the Franz team to fix and merge their own branch into Franz/master

[2019-10-03 22:32] kytwb commented on #91
Regarding the beta channel, it's better to keep it for that purpose for the longer term, you're right. Following your new versioning proposal, the beta channel would then be `X-ferdi.Y-beta.Z`, right?

[2019-10-03 22:55] kytwb commented on #87
@Makazzz from what I understand, the portable apps should not update at all, rather than have an option not-to-update, is that right?

[2019-10-03 23:05] kytwb commented on #97
@vantezzen I invited you on AppVeyor, you should be able to have access to https://ci.appveyor.com/project/kytwb/ferdi/ (used your hello@ email). For Travis, you should already have access to https://travis-ci.org/getferdi/ferdi/builds as you're part of the getferdi organization on GitHub.

[2019-10-03 23:17] Makazzz commented on #87
@kytwb normally when a portable apps is created we use a pre-created config file from the app (like settings/config.json) and change some value <code>update: false</code> so like that in the first run the user is not having an application that break himself by trying to update and/or asking admin right. OR we can block the update by renaming/changing some file so the app dosn't know where to find

[2019-10-03 23:29] webworker01 opened #98 "Reload services prompt never goes away"
**Describe the bug**
Prompt for "Your services have been updated. [Reload services]" constantly appears and never goes away after clicking "Reload services"

**To Reproduce**
Steps to reproduce the behavior:

1. Load Ferdi
2. See the prompt
3. Click "Reload services"
4. Goto step 2

**Expected behavior**
It happens once and stops.

**Desktop (please complete the following information):**
- Version

[2019-10-03 23:31] kytwb commented on #87
I see electron-builder support the [portable](https://www.electron.build/configuration/nsis#portable) target for Windows; we should give it a try and see how the auto-update behave then. Maybe something is already handled in the portable build regarding in-app updates?

[2019-10-04 01:23] kytwb opened #99 "Moving to develop branch"
WDYT about creating a develop branch and making it the default branch? So we can directly push/merge pull requests into develop, then merge to master and tag for releases while keeping a stable master branch.

[2019-10-04 01:37] kytwb commented on #87
@Makazzz you can find the portable version built by electron-builder in [here](https://ci.appveyor.com/project/kytwb/ferdi/builds/27869773/artifacts) (the executable without _Setup_ in the filename).

[2019-10-04 01:54] Makazzz commented on #87
@kytwb thanks for this I will use this .exe for extract the app-32.7z and portabilize without using temps files. And it is possible to create an environment variable like [Bitwarden did](https://github.com/bitwarden/desktop/commit/aa515cb36945437e826c4a2a70717d8d154bc964) (an electron app too writen in TypeScript) for helping the portableapps format to work?  Because the laucher of portableapps ca

[2019-10-04 02:18] kytwb commented on #87
Possible, on it 👍

[2019-10-04 02:18] Makazzz commented on #87
Thank you

[2019-10-04 02:39] kytwb commented on #87
@vantezzen I guess if needed we can use `PORTABLE_EXECUTABLE_DIR` to make the define if it's a portable app and disable updates by default?

[2019-10-04 02:45] Makazzz commented on #87
Thanks a lot I will finish my repo of FerdiPortable and the build tomorrow. Thanks for your work.

[2019-10-04 02:50] kytwb commented on #87
@Makazzz Welcome!
@vantezzen In the doc they say we also have access to:

Following the links on _paths_:

Do we need to use `PORTABLE_EXECUTABLE_APP_FILENAME` somewhere for that purpose/to make things compatible with portable apps?

[2019-10-04 03:00] kytwb commented on #98
Thanks for the report @webworker01, we will investigate.

[2019-10-04 03:03] kytwb commented on #63
@AGCaesar I think ferdi-bin should be working properly now that it's based on the debian. Do you think we should deprecated ferdi-git/ferdi and redirect them to ferdi-bin? Or remove them and rename ferdi-bin to just ferdi?

[2019-10-04 07:28] vantezzen commented on #91
No, the beta channel would still be `5.X.X-beta.Y` (e.g. `5.3.4-beta.3`).

[2019-10-04 07:51] vantezzen commented on #98
Hello @webworker01 , could you please try to do the following:
- In Ferdi's menubar, under "View" click "Toggle Developer Tools"
- In the now opened Developer Tools, in the top row, click "Network" (you may have to click on the two arrows to see it)
- In Ferdi's menubar, under "View" click "Reload Ferdi". You will now see all network requests that Ferdi is executing in the developer tools
- Wait a

[2019-10-04 07:55] vantezzen commented on #99
Great idea. I was actually using a local "develop" branch when trying to fix #95, I will publish that branch to GitHub.

[2019-10-04 08:34] kytwb commented on #99
@vantezzen I've made sure develop isn't behind the master branch and made develop the default branch.

[2019-10-04 08:38] kytwb opened #101 "Review social card image"
- [x] Change name from "Ferdi" to "Ferdi Messenger"
- [x] "All your services in one place" to "All your messaging services in one place"
- [x] Include icons of supported services that are famous enough to catch the eye

![Screen Shot 2019-10-04 at 3 27 33 PM](https://user-images.githubusercontent.com/412895/66193377-9b953d80-e6bc-11e9-8f45-4ebd0b7977ca.png)

@vantezzen Can you share the PSD if you

[2019-10-04 08:40] kytwb commented on #99
Re-opening until the builds are fixed on develop.

[2019-10-04 09:23] AGCaesar commented on #63
I will investigate further on the differences in build mechanism after the weekend. I think we should leave the arch packages the way they are as they follow the AUR standards. It is quite common to have different versions of a program. Maany arch users like to use the system electron package because it is more lightweigt. Also, ferdi packages are the same:
https://aur.archlinux.org/packages/?O=0&

[2019-10-04 09:37] #99 closed

[2019-10-04 09:51] kytwb commented on #63
@AGCaesar LGTM, did not know that was AUR standards, but now I know 😃 Thank you again for the work you're doing on maintaining the AUR packages! 🙏

[2019-10-04 10:01] kytwb commented on #92
First notes outlining the talking points:

Ferdi’s specific commits, downloads count)).

Ref: https://medium.com/webpack/sustaining-webpack-for-the-future-part-1-32bea7f9e8a2

Thanks for your time and collaboration on this @vantezzen! I will come with a first draft as soon as possible and share the draft link for people to give their feedback.

[2019-10-04 10:02] kytwb commented on #101
Got it via https://github.com/getferdi/ferdi/commit/473a84824d86a7e9f1178bbcbc45b230eeae2921, thanks @vantezzen.

[2019-10-04 14:59] g-ravity commented on #65
@vantezzen can i take up this issue? I would like to fix this bug for my first contribution

[2019-10-04 15:01] g-ravity commented on #101
@kytwb I would like to work on this, if this is still unassigned

[2019-10-04 16:52] webworker01 commented on #98
Nothing appeared after `update`, but the preview for the `update` request always shows skype. I had it disabled, tried enabling it but the `Reload services` loop persists.  ![image](https://user-images.githubusercontent.com/3256000/66225120-a5f80d00-e6a5-11e9-999a-6f9cae4c411b.png)

[2019-10-04 18:01] vantezzen commented on #98
Hmm ok, I still havn't quite figured our how Franz's API update works, I'll look into that.

[2019-10-04 18:02] vantezzen commented on #65
@g-ravity Yes, its still up for grabs.

[2019-10-04 18:05] vantezzen commented on #93
DarkReader is changing the background of the QR code. A fix would be to implement a system that injects additional CSS based on the current host, similar to the ignore list in `src/webview/darkmode/ignore.js` but with a CSS string assigned to the domains.

[2019-10-05 03:50] Makazzz commented on #87
@kytwb I tested my Ferdi portable apps and with the FERDI_USERDATA_DIR variable and the config file for settings.json and proxy.json inside the config folder still stay in the appdata dir but all the rest of the data go to where I say so (so in a portable folder).

[2019-10-05 08:14] vantezzen commented on #98
Coud you please also do this:
- Open the Developer Tools as described above
- This time, open "Console" instead of "Network"
- Click "Reload Services" and wait it has fully loaded
- Right-click anywhere in the Developer Tools Console and select "Save As..."
- Save this file anywhere on your PC, copy its content and upload it to <http://pastebin.com> (you don't need an account there to do that)
- S

[2019-10-05 09:39] Gaboris commented on #98
Just as a head up I have the same problem.

Here's my Consol log. It's set to last for a week so copy it in case you need it for later.
https://pastebin.com/ND80M62c

Just tell me if something's wrong or if I can delete the paste since I don't know if it has any real sensitive data in there.

[2019-10-06 21:14] Makazzz opened #105 "AppVeyor maximum storage exceeded"
**Describe the bug**
"Maximum allowed artifact storage size of 50000 Mb will be exceeded." is the message from AppVeyor and It is showing error on the build and dosn't give .exe since there is no free space.
https://ci.appveyor.com/project/kytwb/ferdi/builds/27917120

**To Reproduce**
Steps to reproduce the behavior:

1. Do a commit/merge/pull request

**Expected behavior**
Should do the build as

[2019-10-07 11:05] vantezzen commented on #62
I've now added [dizer's electron-process-manager](https://github.com/dizer/electron-process-manager)(22047a3) that will report memory usage of the application via the process manager that can be opened through the settings. You will need to reinstall the dependencies for this to work.

Using this process manager you should be able to find where the excessive memory usage comes from.

[2019-10-08 05:30] kytwb commented on #101
@g-ravity feel free to!

[2019-10-08 05:33] kytwb commented on #87
@Makazzz understood; I think I need to set `app.setPath('appData', ...)` instead of `app.setPath('userData', ...)`. Will come up with a fix soon.

[2019-10-08 05:48] kytwb commented on #105
I have sent a message to AppVeyor support to get the limit increased.

[2019-10-08 05:59] kytwb commented on #87
@Makazzz last commit should do the trick; please use `FERDI_APPDATA_DIR` instead of `FERDI_USERDATA_DIR`.

[2019-10-08 06:16] #78 closed

[2019-10-08 06:17] #63 closed

[2019-10-08 09:24] g-ravity commented on #101
@kytwb @vantezzen I looked at the PSD file, but I can't get the font used in the PSD, since the font layer has been rasterized. I browsed through the project and saw that Open Sans has been used in the project. Can you tell the font used in the social preview PSD or should I use Open Sans instead?

[2019-10-08 12:12] kytwb commented on #101
@g-ravity I have checked the PSD file and tried to type "Ferdi" with Open Sans to compare, but it doesn't seem to be that font; I'll let @vantezzen answer on this.

[2019-10-08 12:16] Makazzz commented on #87
Thanks, I will wait to AppVeyor to increase your maximum storage and test the next builded Ferdi.

[2019-10-08 12:35] kytwb commented on #87
Alternatively, you could build the project locally on your Windows. You should get the .exe in the `out` folder as explained in the README. If you don't manage to, I will follow-up once AppVeyor has.

[2019-10-08 12:37] Makazzz commented on #87
I will wait because at the moment I am not home but thanks for the info.

[2019-10-08 15:01] vantezzen commented on #101
I just checked:
I used the ["Circular Std"](https://www.npmjs.com/package/circular-std) font in the social preview, you can however use another font if it fits better or if you don't have that font.

[2019-10-08 23:02] Makazzz commented on #87
Finally I will wait because I have to many error (like cb() never called) with Node.js 10.16.3 and nothing work for building

[2019-10-09 13:44] nessunluogo commented on #98
Same problem here. Update returns an array with one single element referencing Skype
[code]
After deleting Skype service, notification stops coming out.

[2019-10-10 07:36] kytwb commented on #105
Escalated to a ticket: https://help.appveyor.com/discussions/problems/25122-maximum-allowed-artifact-storage-will-be-exceeded

[2019-10-10 10:57] tswistak opened #110 "Can't login to Gmail when service was already created"
**Describe the bug**
It's impossible to log in to Gmail account for already existing services. After creating a new service, everything works OK, I'm redirected to the login page and I can log in without problems. But, when I want to login to existing Gmail service (or I reload a new one) I'm redirected to Gmail's home page, where clicking on Login redirects me to an external browser, therefore it

[2019-10-10 12:19] tswistak commented on #110
5.3.3.157

[2019-10-10 12:29] Makazzz commented on #110
Ok I did the test on the 5.3.3 stable release and I have the same result. The service when is reload after restarting the app become with only external link and not the same connection page.

[2019-10-10 13:00] SylvainCecchetto opened #111 "Ferdi dock icon randomly bounce"
**Describe the bug**
Randomly, the dock icon of Ferdi just bounce one time, but I have no notification on any of my services.

**To Reproduce**
Work on any app on your app and just wait until the icon bounce.

**Expected behavior**
No bounce?

**Desktop (please complete the following information):**

- OS: macOS 10.14.6
- Version 5.3.3 (5.3.3.157)

[2019-10-10 13:25] vantezzen commented on #111
Have had this happen to me with Franz before.
When this happens, can you do the following:
- In Ferdi's menubar, under "View" click "Toggle Developer Tools"
- In the now opened Developer Tools, in the top row, click "Console" (you may have to click on the two arrows to see it)
- Scroll down if needed and take a screenshot of the last few messages
- Upload this screenshot here

[2019-10-10 17:54] lestevam opened #112 "Windows Defender considers software dangerous"
When trying to install the program on windows 10 company Windows Defender warns about the danger of the software because it does not have a "publisher".

Even allowing windows defender installation, anti-virus does not allow installation for the same reason.

[2019-10-10 18:46] vantezzen commented on #112
Thank you for reporting this error. What version of Ferdi are you trying to install?

[2019-10-11 03:45] kytwb commented on #105
@Makazzz fixed, artifacts available again at https://ci.appveyor.com/project/kytwb/ferdi/build/artifacts

[2019-10-11 03:47] kytwb commented on #112
Maybe we need to _sign/notarize_ the app in a similar fashion to macOS but for Windows? https://www.electron.build/code-signing#windows

[2019-10-11 17:17] Armaldio opened #113 "Extensions support"
In my browser env, I'm using some useful extensions to enhance services.

It would be very great to support loading these extensions (or at least some of them)

Electron already support some chrome extensions APIs and apps like [Station](https://community.getstation.com/t/how-to-request-an-app-or-an-extension/49), or [Shift](https://support.tryshift.com/kb/article/122--which-chrome-extensions-does

[2019-10-12 02:44] probablykasper commented on #67
@kytwb Is there any ETA for this? Has any work started on it?

[2019-10-12 03:34] probablykasper commented on #62
I believe performance will be better if BrowserViews are used instead of webviews. Not sure how big of a difference it would make, but definitely worth looking into.

[2019-10-12 03:53] probablykasper opened #114 "App size reduction"
Got some suggestions for reducing Ferdi's app size, because it's rather big and takes a while to download from GitHub's servers:

1. Ferdi comes with 133 MB worth of spellchecking. Is it possible to use the OS spellchecker? Otherwise, the spellchecking could dynamically download the appropriate language.

2. Judging by app.asar, Ferdi's code seems to not be fully minified. [UglifyJS](https://www.n

[2019-10-12 04:08] probablykasper opened #115 "Quick Switch broken"
In 5.3.4-beta.6:
- Dark mode does not work and causes text (and icons if they're white) to be invisible
- The input field does not get auto-focused (It does when I launch Ferdi, but after switching to a different service, it stops auto-focusing)
- It's quite tall

![image](https://user-images.githubusercontent.com/11315492/66694635-d21f1980-ecb5-11e9-8a42-5c401ed706f6.png)

- OS: macOS 10.14.6
- V

[2019-10-12 04:13] probablykasper commented on #75
@vantezzen Notifications still work in hibernation?

[2019-10-12 08:26] kytwb commented on #67
@probablykasper no ETA, hasn't been picked up by anyone at the moment. I will try to allocate more time to work on Ferdi in the coming days.

[2019-10-12 09:40] vantezzen commented on #67
I would suggest using a package like <https://github.com/rhysd/electron-in-page-search>.

[2019-10-12 09:40] vantezzen commented on #75
No - during hibernation the service won't be loaded and thus won't be able to send you notifications.

[2019-10-12 09:44] vantezzen commented on #115
Oh, I'll have to fix the issues with dark mode.

The input field is [an issue I know of](https://github.com/getferdi/ferdi/issues/68#issuecomment-534146281), but unfortunately [it is a known problem in electron](https://github.com/electron/electron/issues/17882): If Ferdi's focus is inside a webview/service, there is no way to gain back focus to Ferdi itself and the search input.

I could add a he

[2019-10-12 09:53] vantezzen commented on #114
1. We could download spellchecker files into the user folder when the user selects a language. Alternatively, we could think about switching to [electron-spellchecker](https://github.com/electron-userland/electron-spellchecker) as it looks to have a functionality like this implemented by default.
2. I'll add this to our gulp buildfile

[2019-10-12 10:27] vantezzen commented on #114
I now added minification for production builds via 362d034. We'll see if that improves the size.

[2019-10-12 13:31] probablykasper commented on #115
@vantezzen In the comments of that Electron issue, the first comment mentions finding a workaround, and another comment says `window.blurWebView()` works. Have you tried those?

It could have a height limit, and if exceeded it can scroll. Individual items can also have a much smaller height. When the search field is empty, it could either show no items or the previous 1 or 3 items. Discord's quick

[2019-10-12 15:46] vantezzen commented on #115
Yes, I've tried the comment on the issue, but [as already discussed there](https://github.com/electron/electron/issues/17882#issuecomment-486679969), this does not allow to focus on the embedder page.
I also tried Electron's `win.blurWebView()` method (this is [still implemented](https://github.com/getferdi/ferdi/blob/2c86938b03926ac4af547c3a2241d5d0b5c8e257/src/features/quickSwitch/Component.js#L

[2019-10-12 17:29] Makazzz commented on #87
@kytwb I have a problem... the FERDI_APPDATA_DIR don't do anything now and I don't know why.

[2019-10-12 20:09] webworker01 opened #116 "Enabling/disabling a service does not properly refresh the service container"
**Describe the bug**
Enabling / Disabling a service does not properly refresh the Service container.

**To Reproduce**
Right click on a disabled service and choose enable service. Service container continues to display "Service is disabled" message with "Enable Service" button until you click another service and come back, then the service is displayed correctly.

Right click on an enabled service

[2019-10-13 11:18] vantezzen commented on #116
It looks like [the webview](https://github.com/getferdi/ferdi/blob/6ae97425b0c0da181a9ec26e52535ceadd1f4e46/src/components/services/content/ServiceView.js#L174) doesn't get rerendered when the service model is updated.

I had the same problem when trying to store the hibernation status in the Service model instead of the local state. I fixed this problem [by copying the changes to the local state]

[2019-10-13 15:24] probablykasper commented on #94
This is how dark mode looks for me currently. Most buttons are essentially invisible.
<img width="1356" alt="Screen Shot 2019-10-13 at 5 04 33 PM" src="https://user-images.githubusercontent.com/11315492/66717869-0c83d600-edde-11e9-924a-c63d1349f87f.png">

And for this one, it makes the middle of the background black, for some reason.
<img width="1356" alt="Screen Shot 2019-10-13 at 5 12 42 PM" src

[2019-10-14 09:04] vantezzen commented on #5
Looks like we are might be finally making progress in implementing this feature request.

Yesterday I had the idea that instead of trying to implement permanent storage into every store Ferdi uses we could simply run a stripped-down version of [ferdi-server](http://server.getferdi.com) in the background that handles storing the user data.
I now implemented this into the [local-server](https://gith

[2019-10-14 09:53] grmon opened #118 "Threema QR-Code not readable in dark mode"
**Describe the bug**
The Threema QR-Code shown by the Threema Web Client is only readable when on a white background, but dark mode shows it on a black one.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Threema Web in Ferdi
2. Scan QR-Code with mobile device
3. Nothing happens

**Expected behavior**
Logging in to Threema Web

**Screenshots**
-

**Desktop (please complete the followi

[2019-10-14 13:18] SylvainCecchetto commented on #111
I just had a bounce, this is a screenshot of the console.
The penultimate line is a message from a friend on the Riot service (but I get his message at least one hour before the bounce).
And the last line seems to be related to the  penultimate line because of a missing image in the Riot message of my friend jp.

So I guess there is nothing in this screenshot concerning the bounce :-/

![Capture d

[2019-10-14 17:46] Gaboris commented on #5
I think I actually had this idea about integrating the server into the client itself, but I'm not sure if I ever got around to mention it to anyone.

So yeah this is a nice idea @vantezzen and hope it works out.

If someone is running multiple Ferdi instances wouldn't those all need to be in their own folders? Or did you not mean separately installed ones, but are multiple processes from the same

[2019-10-14 19:07] vantezzen commented on #5
Ferdi (by default) always stores its data in the same folder so I meant multiple instances of the same Ferdi application. This is probably not a frequent use case, but Ferdi should still be able to do this.

I don't think I understand your question to the SQLite file.
The `server.sqlite` file is a normal SQLite database file which could be read by any other program - but that is not something I am

[2019-10-14 20:30] pawelantczak opened #120 "Customizable accent color"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Selectable color palette allowing to pick favorite color.

**Describe alternatives you've considered**
Leave as it is.

**Additional context**
Accent color, purple-ish, is clearly related to logo color.
I would be perfect to be able to pick color of choice.

[2019-10-14 20:51] keunes commented on #5
Happy to read there's some developments here :) I just wanted to chip in as a (potential) end-user:  if there might be a risk other applications can access my personal messages through Ferdi, that doesn't sound very assuring. Then I would prefer to be required to set a password (with the username being the same for every installation, and dealt with in the background) to ensure my data is protecte

[2019-10-14 21:15] vantezzen commented on #5
@keunes Thank you for your feedback.
I think I need to clarify: Exposing data from the internal server would not expose any of your messages content! The only thing the server would be exposing is the list of services and workspaces you have (e.g. a WhatsApp instance, a Discord instance and a Slack instance (including the slack URL)) but no login credentials, messages or other content. Those infor

[2019-10-16 09:01] #118 closed

[2019-10-16 09:01] vantezzen commented on #93
Should be fixed via 38789f8 and will ship with the next release.

[2019-10-16 09:01] #93 closed

[2019-10-17 13:15] conradogarciaberrotaran opened #123 "Download mac version broken on the website"
**Describe the bug**
Download for mac leads to the 404 github page

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://getferdi.com/download
2. Click on Download for mac
3. See 404 error on URL https://github.com/getferdi/ferdi/releases/download/v**undefined**/Ferdi-**undefined**.dmg

**Expected behavior**
Downloads ferdi for mac

[2019-10-17 15:15] vantezzen commented on #120
I just pushed 942466e which implements this feature, it should be shipped with the next Beta build.

The accent color can now be changed inside Settings > Accent color.

[2019-10-17 19:52] Makazzz commented on #87
@vantezzen Can you check about this please?

[2019-10-17 19:57] vantezzen commented on #94
I now added a toggle to the settings to disable the universal dark mode via c44cb8d and fixed the toggle in the service editing screen to disable dark mode for individual services via 129988f.

[2019-10-17 20:06] vantezzen commented on #87
I think we need to roll back to using `FERDI_USERDATA_DIR` instead of `FERDI_APPDATA_DIR `. It looks like [`appData` only gets used to generate the `userData` folder during dev builds](https://github.com/getferdi/ferdi/blob/develop/src/index.js#L12-L20).

I think we need to fix settings.json and proxy.json in another way. These are the only files that get updated through calls to the [local API](h

[2019-10-17 20:22] Makazzz commented on #87
Ok thanks for the answer

[2019-10-18 01:28] kytwb commented on #87
In our code yes, but I think it's also used by Electron's internals afterward.
What got me confused is:

But the `SETTINGS_PATH` is set to:

[code]

So not sure how the `settings.json` inside the `config` folder was in the appdata dir instead of the set userdata dir.

Giving another try to `FERDI_APPDATA_DIR` with the next commit I'll push as I noticed I userData wasn't explicitly set on that iter

[2019-10-18 02:34] Makazzz commented on #87
Still not working :/ . And now Ferdi is forcing me to have english has locale language.

[2019-10-18 02:48] kytwb commented on #87
What's happening now if you don't set `FERDI_APPDATA_DIR`? Does it fallback properly to `PORTABLE_EXECUTABLE_DIR`? If it's not working, I guess I'll revert the changes to `FERDI_USERDATA_DIR` and investigate why the two files you previously mentioned are not where they're expected to based on @vantezzen suggestion.

[2019-10-18 03:29] kytwb opened #127 "Show Ferdi changelog for updates"
**Describe the bug**
When an update is available, the "What's new" page display Franz changelog.

**To Reproduce**
Steps to reproduce the behavior:

1. Check for updates
2. Wait for updates to download
3. Click on "What's new" in the bottom bar inviting to restart to apply the update

**Expected behavior**
Changelog in What's new should show Ferdi changelog instead of Franz's.

**Screenshots**

<i

[2019-10-18 03:34] kytwb commented on #120
Available in [v5.4.0-beta.1](https://github.com/getferdi/ferdi/releases/tag/v5.4.0-beta.1).

<img width="648" alt="Screen Shot 2019-10-18 at 10 33 29 AM" src="https://user-images.githubusercontent.com/412895/67063975-dace8e80-f192-11e9-9a8c-26ea9c2e52a1.png">

[2019-10-18 03:34] #120 closed

[2019-10-18 04:16] kytwb commented on #111
The dock icon will bounce on Mac if an update is available/downloaded: https://github.com/getferdi/ferdi/blob/d8d5df6e72163b00e035f729b1013a957fed2321/src/stores/AppStore.js#L147 Maybe we should put a notification badge on the settings icon when that's the case?

[2019-10-18 04:21] kytwb commented on #112
@lestevam can you try the following steps in the meantime? https://stackoverflow.com/a/53685718/926721

[2019-10-18 04:51] kytwb commented on #116
In dev mode I see the following warning quite often:

[code]

Fixing the warning seem to fix the issue (something related to the observer I guess).

[2019-10-18 06:00] kytwb opened #128 "Enhance announcements feature"
I tried to disable the announcement feature with https://github.com/getferdi/ferdi/commit/1a6017c81d3a8fc385b0f637ce5a7417ee768e9a (until we have our own announcements coming from our own server), but it is still making requests to the announcements API. Moreover, it seems to be making the request every time I switch services, which can slow things down.

![Kapture 2019-10-18 at 12 54 33](https://

[2019-10-18 06:02] SylvainCecchetto commented on #111
Thank you for the explanation, but I'm on 5.3.3 and it's the latest release available.
Is this function also check for beta versions on GitHub? Maybe it's better to only bounce if a new release is available?

[2019-10-18 06:03] kytwb commented on #111
Do you have the "include beta versions" toggled on?

[2019-10-18 06:05] SylvainCecchetto commented on #111
Oh yes, my bad :-/

[2019-10-18 06:05] kytwb commented on #111
No worries! What do you think of:

[2019-10-18 06:08] SylvainCecchetto commented on #111
As long as we are on the updates topic. If "include beta versions" is toggled on and if I click on the "Check updates button" nothing happen. What the real purpose of this button?

[2019-10-18 06:19] kytwb commented on #111
It is supposed to look for the latest update available on GitHub (beta or not based on if the toggle is on or off). I'm a bit confused as it seemed your dock icon bounced because of an available/downloaded update, so I was expecting it to work. When working, it looks like this: https://github.com/getferdi/ferdi/issues/61#issuecomment-534587648

[2019-10-18 06:20] vantezzen commented on #127
Are you on the latest commit in develop? I should have fixed that yesterday (<https://github.com/getferdi/ferdi/blob/develop/src/features/announcements/api.js#L15>)

[2019-10-18 06:21] kytwb commented on #111
We started to sign/notarize our macOS app from [v5.3.4-beta.3](https://github.com/getferdi/ferdi/releases/tag/v5.3.4-beta.3):

You might need to update manually to that version for in-app updates to work.
Sorry for the inconvenience.

[2019-10-18 06:22] SylvainCecchetto commented on #111
Ok thank you for the details.
Maybe my fault if the built-in update feature is broken --> I installed Ferdi throw brew.
I don't know if it's related?

[2019-10-18 06:22] kytwb commented on #127
@vantezzen It happened with my production Ferdi if I remember correctly. All good then! 👍

[2019-10-18 06:22] #127 closed

[2019-10-18 06:27] vantezzen commented on #128
Just as an information: Ferdi will always fetch the announcements from the server you select - we do already have announcements coming from `api.getferdi.com`, e.g. I created an announcement for 5.4.0.

[2019-10-18 06:28] kytwb commented on #128
I think it's preferable to get the announcements from the Ferdi API then as to not cause confusion to Ferdi users with Franz API announcements?

[2019-10-18 06:29] vantezzen commented on #128
Yes, I think your idea is better.

[2019-10-18 06:39] kytwb commented on #111
Keeping the original issue as it so other people can find it if needed.

[2019-10-18 06:40] #111 closed

[2019-10-18 06:42] kytwb opened #129 "Add visual indicator when new update is available"
Related to https://github.com/getferdi/ferdi/issues/111, as otherwise the dock icon is bouncing to get the user attention (on the available update) without any visual clue to where to look at. Proposing to add a red dot on the settings icon if an update is available.

[2019-10-18 07:06] vantezzen commented on #115
QuickSwitch will now sort services by last used when no search query is provided.

[2019-10-18 07:06] #115 closed

[2019-10-18 07:08] vantezzen commented on #116
So can we close this issue?

[2019-10-18 07:10] vantezzen commented on #92
How's the blog post going?

[2019-10-18 09:05] vantezzen commented on #129
Very good idea, I now implemented this as of cf62335. The settings icon will get a red dot, which will blink a few times when an update just became available (as the user might not notice the dot after the icon bounced in their dock).

![Screen Recording 2019-10-18 at 10 59 45](https://user-images.githubusercontent.com/10333196/67081121-e02dd800-f196-11e9-9d1a-7d9484b13561.gif)
(The video is a loo

[2019-10-18 10:08] kytwb commented on #92
Sharing a link to the draft over the week-end! 😉

[2019-10-18 10:09] kytwb commented on #116
Fix will be available in the next release, yes! 🙏

[2019-10-18 10:09] #116 closed

[2019-10-18 10:15] kytwb commented on #129
@vantezzen LGTM 👍

[2019-10-18 10:15] #129 closed

[2019-10-18 16:40] vantezzen commented on #65
@g-ravity Are you woking on this?

[2019-10-18 16:43] g-ravity commented on #65
Yes, I'm working on it. I was stuck at work this week, so I wasn't able to send the PR this week. But I'll surely send a PR within next week

[2019-10-18 16:51] vantezzen commented on #128
I just looked into this: You havn't actually disabled announcements with 1a6017c:
You only disabled the local default settings. These settings [will be overwritten](https://github.com/getferdi/ferdi/blob/develop/src/stores/FeaturesStore.js#L58) by the server's settings in the store. The ferdi-server will [enable announcements](https://github.com/getferdi/server/blob/master/app/Controllers/Http/Sta

[2019-10-18 16:52] vantezzen commented on #65
Ok, no problem. I just didn't want this issue to go stale.

[2019-10-18 19:21] vantezzen commented on #5
I have now tested the internal server on my machine and everything seems to work fine. Ferdi still has some problems with running multiple instances at once but dynamic port switching is now implemented.

I have just created PR #131 to merge this feature into develop.
@kytwb Can you release a new beta as soon as the PR has completed its checks and is merged?

To use the local server feature you'll

[2019-10-18 21:12] Makazzz commented on #87
@kytwb If I remove the variable Ferdi just act like a normal install (use %AppData%)

[2019-10-18 21:42] kytwb commented on #87
@Makazzz roger that, I'll spend some more time checking over the weekend 🙏

[2019-10-19 08:13] ICDeadPpl opened #132 "Maintain service sort order"
The icons in the left bar won't keep their sort order after restarting Ferdi.
I usually put the most used services at the top, by dragging the icons in the order I want them.
The next time I start Ferdi, the icons have reordered themselves in no particular order.
They are not sorted by name, neither by date/time added.
It would be nice if Ferdi saved the sort order of the services.

[2019-10-19 10:34] vantezzen commented on #132
There was a problem with ferdi-server that threw an error when trying to reorder services.
I just fixed this problem, reordering should work again.

[2019-10-19 10:34] #132 closed

[2019-10-19 12:10] bittner commented on #5
Wow! Awesome move!

Is the data not stored or cached locally? In a way that one could log out from the Franz server and directly use what is lying in the cache locally on one's machine?

And what happens when you start with Ferdi configuring all services locally, but then want to save your settings on a Ferdi or Franz's server? Will that work, or will the settings be lost?

[2019-10-19 13:09] vantezzen commented on #5
Unfortunately, the data is not stored or cached locally, so we can't simply use that data (#50 is not implemented yet). You can however import your data from your Franz account so you won't have to set up everything again.

There is currently no direct way of transferring the data to another server - that is something we could implement though.

[2019-10-19 14:51] bittner commented on #5
But there is a server running locally now, IIUC, so in a certain sense data is stored locally yet. Doesn't this make #50 obsolete?

What about the impact on system resources? Does the local server have a noticeable impact?

[2019-10-19 15:00] bittner commented on #112
LOL! Dear @microsoft, you suck. Good that Nadella announced it will slowly die.

[2019-10-19 16:16] g-ravity commented on #101
I'm not being able to make the design better as per your checklist. Anybody else wanna try, then go ahead

[2019-10-19 16:18] kytwb commented on #128
@vantezzen Understood, thanks for the explanation; I reverted and let it enabled in the local default settings now the announcements are always coming from Ferdi's API.

[2019-10-19 16:18] g-ravity commented on #65
The project is not working properly. I don't why but suddenly many errors came up when I tried to start the project. I thought I'll be able to fix the issues and work on the bug, but it took me whole day and still I couldn't figure out why the project wasn't starting. I guess I'll leave this issue for someone else, as I don't have much time to work on this now

[2019-10-19 16:19] #128 closed

[2019-10-19 16:21] Makazzz commented on #65
Is even the feature of doing #27   Alt + (First letter of the tabs) is even working? If not maybe the best will be to revert the pull request that caused this and then find another way to do it this time.

[2019-10-19 16:23] kytwb commented on #101
No problems @g-ravity, taking over!

[2019-10-19 16:58] kytwb commented on #101
@vantezzen WDYT? Does that work for now?

![social-preview](https://user-images.githubusercontent.com/412895/67148662-2769b500-f2cc-11e9-9c17-8b6dc500ceb2.jpg)

[2019-10-19 17:07] kytwb commented on #101
[Twitter Card Validator](https://cards-dev.twitter.com/validator):

![Screen Shot 2019-10-20 at 12 03 35 AM](https://user-images.githubusercontent.com/412895/67148765-56345b00-f2cd-11e9-99e0-c0b8c9509dde.png)

[Facebook Sharing Debugger](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fgithub.com%2Fgetferdi%2Fferdi):

![Screen Shot 2019-10-20 at 12 04 33 AM](https://user-images

[2019-10-19 17:13] kytwb commented on #101
I pushed the updated PSD, we can iterate if needed. FYI, I've shared the links to the Twitter/Facebook/LinkedIn developer tools for links previews. You can refresh the social networks previews caches after updating the social preview on GitHub by just resubmitting the repository URL for Twitter/LinkedIn, or by pressing the "Scrape Again" button for Facebook.

[2019-10-19 17:13] #101 closed

[2019-10-19 17:14] kytwb commented on #101
The font: [circular_std_font_family_by_ybtoffical_dd40z3q.zip](https://github.com/getferdi/ferdi/files/3746977/circular_std_font_family_by_ybtoffical_dd40z3q.zip)

[2019-10-19 18:12] Makazzz commented on #87
I found this when doing research. https://github.com/electron/electron/issues/1404#issuecomment-194391247 I don't know if it help.

[2019-10-19 19:54] vantezzen commented on #5
The data is now stored locally inside a SQLite database located in the Appdata folder.
This is only the case if you use set Ferdi to use the local server, the feature described in #50 is requesting to cache the response from an external server - this isn't possible with the internal server and storage solution.

In my tests, the impact on system resources by the internal server are low: In normal

[2019-10-19 20:32] vantezzen commented on #114
I now implemented the switch from the custom spellchecker solution to `electron-spellchecker` via 64824a6. This reduced the size of Ferdi's `build` folder from ca. 150MB to ca. 15MB.

`electron-spellchecker` will use the system's dictionaries or download the dictionaries into the appdata folder as needed.

[2019-10-19 20:33] vantezzen commented on #95
We have now switched to another spellchecking method to fix #114. This will also allow spellchecker to work again.

[2019-10-19 20:33] #95 closed

[2019-10-19 20:51] Makazzz commented on #105
@kytwb @vantezzen The problem is now re-happening with the last 2 build :/

[2019-10-20 10:05] kytwb commented on #105
As mentioned [here](https://help.appveyor.com/discussions/problems/18191-setting-autodelete-policies-for-deleting-old-artifacts):

I will ask to increase our limit again temporarily, and enable artifacts collection on master and tags build only in `appveyor.yml`, that should fix the issue.

[2019-10-20 10:38] kytwb commented on #87
@Makazzz Did you ever managed to build the project locally on your Windows? I'd be happy to pair with you to make it work, I think it would really help if we have a contributor that can test things that are Windows-specific to avoid back and forth as we experienced on this issue. WDYT?

I will push the snippet as it:

[code]

But I don't understand why that would work and not the previous commits.

[2019-10-20 10:47] kytwb commented on #114
@vantezzen well done!

[2019-10-20 10:59] kytwb commented on #105
Artifacts collection is now restricted to master/tags builds. I have followed-up on the [ticket](https://help.appveyor.com/discussions/problems/25122-maximum-allowed-artifact-storage-will-be-exceeded) for another temp limit increase in the meantime.

[2019-10-20 11:43] vantezzen commented on #65
@rseitbekov?

[2019-10-20 11:53] kytwb commented on #92
This one is taking me a bit longer; continuing in the evening and should be able to wrap up tomorrow. Stay tuned!

[2019-10-20 13:33] Makazzz commented on #87
@kytwb I did not managed to make a working build but I want to do it and it will be really helpfull if we pair to make it work. And I was thinking to make an section in the wiki for windows build with steps etc.

[2019-10-20 15:23] Makazzz opened #138 "Ferdi force to use English"
**Describe the bug**
From a few commit dev I tried now I can't change language.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to File
2. Click on Settings
3. Scroll down to Language
4. Change Language
5. See error (not refreshing and not showing in another language)
6. Reload or restart Ferdi
7. Turn back to english in a second

**Expected behavior**
Before the app was automaticly refr

[2019-10-20 16:08] kytwb commented on #87
@Makazzz awesome, let's do this! You can use this [link](https://calendly.com/kytwb/call) to pick a date/time at your convenience!

[2019-10-20 16:22] vantezzen commented on #138
The user settings feature wasn't implemented into ferdi-server yet, this resulted in the language not updating. I now implemented this feature into ferdi-server and the internal server and switching languages should now work correctly.

[2019-10-20 16:22] #138 closed

[2019-10-20 16:23] bittner opened #139 "Settings: "You are using the official Ferdi Server for Ferdi" 🙄"
**Describe the bug**
Ferdi settings explain server use is a weird way:

This text is not in the repository, so "Franz" is probably replaced in [EditSettingsForm.json](https://github.com/getferdi/ferdi/blob/master/src/i18n/messages/src/components/settings/settings/EditSettingsForm.json#L56) by "Ferdi" at packaging time. (I'm guessing!)

Also, I'm not sure whether the hint "consider paying for a Fer

[2019-10-20 16:26] Makazzz commented on #139
I think this [file](https://github.com/getferdi/ferdi/blob/develop/src/i18n/apply-branding.js) has to do somthing with this.

[2019-10-20 16:29] #139 closed

[2019-10-20 16:30] vantezzen commented on #139
Yes, looks like the apply-branding script has overwritten the string there. Just pushed 048d968 which corrects the string and script.

[2019-10-20 16:47] Makazzz commented on #87
@kytwb Sure but I am not so confident about doing a call/video but more feeling into text/messaging. And my english speaking is not the best (sorry in advance).

[2019-10-20 16:51] kytwb commented on #87
No worries, we can do what you're more comfortable with. Received your calendly invite, talk to you in the morning, signing off here!
PS: I speak French as well 😉

[2019-10-20 17:06] bittner commented on #139
Though it's weird: After logging out to use "no server" the Settings look totally different, and the text from above is not there. I'm confused. :confused:

[2019-10-20 17:14] bittner commented on #5
I've successfully managed to log out and "Use Ferdi without an account" and import my services from the franzinfra server as mentioned above. :+1:

But it doesn't seem to be possible to switch back, i.e. enter the credentials of my Franz account to connect with the Franz server again. The settings keep saying, "You are using Ferdi without a server". Should I open a separate issue for that?

[2019-10-20 17:15] kytwb commented on #105
Someone from AppVeyor followed up on the [ticket](https://help.appveyor.com/discussions/problems/25122-maximum-allowed-artifact-storage-will-be-exceeded) to say it's been extended.

[2019-10-20 17:15] #105 closed

[2019-10-20 17:29] vantezzen commented on #5
I'll implement that. For now, you can simply replace the text in the server setting ("You are using Ferdi without a server") with the Franz or Ferdi API to log back into a remote server.

[2019-10-20 17:31] vantezzen commented on #139
The text is only shown when you are using the Franz API (API.franzinfra.com). As you are using the internal server, the text won't get shown.

[2019-10-20 19:36] djshadowxm82 opened #140 "Gmail is having authentication problems"
**Describe the bug**
Upon logging into various google gmail accounts (enterprise g-suite and regular) this error is present.

**To Reproduce**
Steps to reproduce the behavior:

1. Login to gmail.
2. Observe errror.

**Expected behavior**
No error.

**Screenshots**
![image](https://user-images.githubusercontent.com/10658965/67165100-0302ec80-f34f-11e9-8b80-1d56dca3df2f.png)

**Desktop (please compl

[2019-10-20 19:46] djshadowxm82 opened #141 "Indvidual Workspace Lock"
**Is your feature request related to a problem? Please describe.**
It would be handy to be able to lock out specific workspaces vs the entire application Ferdi lock.

**Describe the solution you'd like**
Repurpose the Ferdi lock to work with individual work spaces aswell

[2019-10-20 20:04] djshadowxm82 opened #142 "Workspace configurations don't appear to save."
**Describe the bug**
After a restart of Ferdi, All workspaces are present, however no services are assigned to them anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup workspaces and save
2. Restart  the application.
3. Empty workspaces.

**Expected behavior**
Workspaces to load as left.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:/

[2019-10-20 20:24] vantezzen commented on #142
Which server are you using? You can find it in Ferdi's settings.

[2019-10-20 20:24] Makazzz commented on #65
Ok I tested on Xubuntu 19.10 x64 and ALT+F or W etc is working and does not show "&". I think the bug happen only in Windows (and macOS X ??)

[2019-10-20 20:48] djshadowxm82 commented on #142
I'm using
![image](https://user-images.githubusercontent.com/10658965/67165990-6003a000-f359-11e9-9990-ad5e891b27fc.png)

[2019-10-20 23:22] markwalkom opened #143 "Zoom doesn't work"
**Describe the bug**
Zoom doesn't work

**To Reproduce**
Steps to reproduce the behavior:

1. In the main app
2. Use command and +/-
3. Or use the View > Zoom in/out
4. Nothing happens

**Expected behavior**
Text size should alter

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: macOS 10.14.6 (18G103)
- B

[2019-10-21 04:00] thearkadia opened #144 "Can you add google translate?"
**Is your feature request related to a problem? Please describe.**
Discord web app doesn't allow for google translate to work like telegram, slack and many others do.
**Describe the solution you'd like**
I would like to be able to translate conversations instantly like how it works if I go to telegram or slack web app in chrome and right click to translate the page.

[2019-10-21 04:45] kytwb opened #145 "Document Windows development setup steps"
As discussed in https://github.com/getferdi/ferdi/issues/87, @Makazzz and I paired and have managed to make things work locally on Windows 7 🎉 I took notes of the missings steps and will now need to document them.

[2019-10-21 08:03] vantezzen commented on #144
I don't think we can implement this into Ferdi:
The Google Translate API is [commercial](https://cloud.google.com/translate/pricing) but Ferdi tries to stay free for everybody.

If anyone wants to implement this and finds a translation API that we can use for free, PRs are welcome.

[2019-10-21 08:07] vantezzen commented on #142
Ok, I just reproduced this bug - seems to be a problem in ferdi-server.

[2019-10-21 08:19] vantezzen commented on #65
Doesn't show "&" on macOS either, just Windows.

[2019-10-21 08:22] #114 closed

[2019-10-21 08:23] #94 closed

[2019-10-21 10:31] #145 closed

[2019-10-21 11:34] kytwb opened #146 "Review 1.1.1.1 requests hack"
There has been an effort to remove errors/warnings as they appear in the console.

<img width="888" alt="Screen Shot 2019-10-21 at 6 32 29 PM" src="https://user-images.githubusercontent.com/412895/67201895-8563dd00-f431-11e9-916f-007b6d1e98d3.png">

The last chunk is related to the hack implemented here:

https://github.com/getferdi/ferdi/blob/9724d4a3ad849cb688545946edb2e878e4a4efc4/src/api/apiBa

[2019-10-21 14:48] copitz opened #147 "Service Developer Tools not available"
**Describe the bug**
The service developer tools are disabled in the view menu and also the keyboard shortcut doesn't do anything. What's possible is to open the developer tools of Ferdi and run `ferdi.actions.service.openDevToolsForActiveService()` in its console.

**To Reproduce**
1. Select any service
2. Click on View -> "Toggle Service Developer Tools" will be disabled
3. Press Ctrl/Cmd+Shift+

[2019-10-21 15:47] vantezzen commented on #146
Yes, the apiBase hack is not the prettiest - do you have any ideas on how to refactor it?

One option I thought of is to return a special config key (similar to how `config.LOCAL_SERVER` is used) and implement a check for this into `src/api/server/ServerApi.js` that will wait until the value is loaded (as the functions are async anyway).

[2019-10-21 15:53] vantezzen commented on #147
Can't reproduce on Mac, can anyone on Windows and Linux confirm this?

@copitz Can you please execute this code in the developer tools and share the output here:
[code]
These are the two checks [required to enable the menu option](https://github.com/getferdi/ferdi/blob/develop/src/lib/Menu.js#L755). I suspect this bug could be due to the [Menu constructor](https://github.com/getferdi/ferdi/blob/de

[2019-10-21 16:30] Makazzz opened #148 "Error in Appveyor and Travis progress build"
**Describe the bug**
It seem that from some last commit the Appveyor progress build is now failling to remote or just before finishing the script.

I think this commit 405100200dfec9d55f985ffae4bc70f10df44846 did something and maybe another with submodule too.

<details>
<summary>Error almost in the end</summary>
` • packaging       platform=win32 arch=ia32 electron=6.0.10 appOutDir=out\win-ia32-u

[2019-10-21 19:55] vantezzen commented on #148
Fixed with 07a5228. Have now moved back to HTTPS for submodules.

[2019-10-21 19:55] #148 closed

[2019-10-21 20:07] Ansem93 opened #149 "Can't add new services"
**Describe the bug**
I'm trying to add whatsapp and messenger while using Ferdi without an account, when I click "save service" notrhing happen

- OS: Windows 10
- Version: 5.4.0 Beta 2

[2019-10-21 20:22] vantezzen commented on #149
Can you please follow the steps for us to find out why this happens:
- In Ferdi's menubar, under "View" click "Toggle Developer Tools"
- In the now opened Developer Tools, in the top row, click "Console" (you may have to click on the two arrows to see it)
- Try to create a new service in Ferdi
- Scroll down the developer console if needed and take a screenshot of the last few messages (probably re

[2019-10-22 00:16] Makazzz commented on #147
@vantezzen Everything is working on windows with this build commit 07a52285111f6f5d1fbf15f0e9055187ef67d612

[2019-10-22 19:03] lestevam commented on #112
@kytwb I did realized the test in last version of Ferdi.
I did try o flow above but in my windows 10 this option isn´t showing.

[2019-10-22 21:01] djshadowxm82 commented on #140
Any ideas on what might be causing this? I have a suspicion that it has to do something with an auth cookie not saving and recalling correctly possibly?

[2019-10-23 01:45] pztrn opened #151 "Can't set service icon with own ferdi-server"
When trying to set custom icon for service loaded with custom website recipe and when using self-hosted ferdi-server I've got "There were errors while trying to perform an authenticated request" and icon isn't saved.

I'm on 5.3.3 and macOS 10.15.

<img width="241" alt="изображение" src="https://user-images.githubusercontent.com/869402/67349207-bb53af00-f560-11e9-940e-c840015b2561.png">

[2019-10-23 01:46] pztrn commented on #151
Also, this error message cannot be closed.

[2019-10-23 07:35] kytwb commented on #140
@djshadowxm82 I have the same issue. I tried to investigate the error in the past days, but I didn't manage to find a workaround just yet. I will keep investigating and keep you posted.

[2019-10-23 07:43] vantezzen commented on #140
I could have something to do with Ferdi settings custom headers: https://support.google.com/mail/thread/3487373?msgid=6595994

[2019-10-23 21:53] TobiasDax opened #152 "Facebook messenger not working ERR_CONNECTION_REFUSED"
**Describe the bug**
When i want to use the facebook messenger i only get a screen telling me ERR_CONNECTION_REFUSED and an option to retry.

When i open the dev tools and look into the console there are a lot or errors
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. I setup ferdi-server on my unraid server and imported my franz account
2. installed ferdi via brew and logged into my

[2019-10-23 21:58] TobiasDax commented on #152
i just clicked through some View options and "reload services" apparently fixed my problem.
i can now log into facebook messenger.. sorry for the issue

[2019-10-23 21:58] #152 closed

[2019-10-24 07:55] pztrn opened #153 "Ability to select icons sizes for services in sidebar"
It'll be great if I can choose icons size in sidebar to make them smaller to allow more services to be visible.

[2019-10-24 09:49] pztrn opened #154 "No requests about microphone or camera access on macOS"
Title says everything. When I tried to call via Discord or Riot there is no microphone or camera access requests at all, resulting in failed call in Riot and being "silenced listener" on Discord.

macOS 10.15, Ferdi 5.4.0-beta.2 from releases page.

[2019-10-24 13:23] vantezzen commented on #154
I'm currently merging Franz 5.4.0 into Ferdi and the requests pop up there.
It will be published the next couple of days - can you then please test if if works for you too?
I'll leave this issue open until then.

[2019-10-24 13:24] vantezzen commented on #149
Thank you. What server are you using? You can see it in Ferdi's settings.

[2019-10-24 13:41] vantezzen commented on #147
The menu should normally dynamically change as soon a value changes - but in this case it doesn't. At least we now know that the problem is in the Menu constructor and not in the stores.

[2019-10-24 14:00] Makazzz opened #156 "Crowdin translation now downgraded?"
When merging Franz into Ferdi, I saw that line that was translated are now delete and because it is from Franz, the bla bla about paying service are back. So is there a way to stop breaking all language file because of the merge?

[2019-10-24 14:06] Makazzz commented on #156
(Or this is just mne and everything is fine?)

[2019-10-24 15:13] vantezzen commented on #156
Are there any translations that have been lost during the merge? The merge shouldn't have overwritten any Ferdi translations.
The new Franz translations for the new plan selection screen are now in the messages files as they are still part of the code (but the screen is never shown). We can hopefully completely remove that part of the code in the future.

[2019-10-24 15:21] Makazzz commented on #156
@vantezzen Sorry I wrote this because I saw all the new translation and I was asking myself if everything was removed or whatever but if it is only merging and add something then its fine. Thanks for the comment.

[2019-10-24 15:41] #156 closed

[2019-10-24 18:39] Ansem93 commented on #149
Sorry, I didn't had time to answer until now.
I tried again now on a different PC, now it work without an account!
You did something server side? Tomorrow I'll check on the other computer

[2019-10-25 06:11] incace opened #158 "darkmode CSS doesn't work"
**Describe the bug**
Upon loading darkmode.css into Messenger, nothing happens. Service remains white and no attributes from the CSS file are shown. Viewing devtools for service, no styles are loaded from darkmode.css.

**To Reproduce**

1. Go to Messenger service
2. Click on 'Enable Dark Mode'
3. Click on 'Open darkmode.css'
4. Add styles and save

**Expected behavior**
Expected to have darkmode.

[2019-10-25 07:58] Gaboris commented on #158
Ferdi does have some problems with dark mode probably because of the Dark Reader implementation.
For me Ferdi just randomly doesn't load in or only partially loads in my dark modes at launch, but that is fixed by reloading a given service.
I use a custom dark mode for Messenger and Telegram, but it only happens to TG every 1 or 2 weeks, while for Messenger it's several times a week.

If you reload

[2019-10-25 08:46] vantezzen commented on #158
I currently can't reproduce this with Ferdi 5.4.0-beta.4 (current develop branch). I now added some debug statements to help fix this issue.
I also added a possible fix for this issue - but as I can't reproduce it I don't know if it fixed it.

Using MacOS Catalina 10.15.

[2019-10-25 14:45] Stanzilla opened #159 "Windows Taskbar Icon is choppy"
**Describe the bug**
On Windows 10, the taskbar icon is *very* fuzzy around the edges

**To Reproduce**
Steps to reproduce the behavior:

1. Install Ferdi

**Expected behavior**
Clear circle
**Screenshots**
![image](https://user-images.githubusercontent.com/75278/67580595-dda72180-f746-11e9-863b-552be30fd5ea.png)

**Desktop (please complete the following information):**

- OS: [e.g. iOS] Windows 1

[2019-10-25 14:48] Gaboris commented on #159
Yeah, it's the same on Win7 as well.

There was probably some problems while converting the Franz icon or if this is a completely new icon then some settings are mismatched.

[2019-10-25 17:32] kytwb opened #160 "Setup Sentry to capture errors"
As more and more users use Ferdi, I think it could be nice to implement Sentry to capture the errors instead of having to ask for console logs. WDYT?
Related: https://github.com/getsentry/sentry-electron

[2019-10-26 09:13] vantezzen commented on #160
I think we'll need to fix #146 first, otherwise we'll get a lot of errors because of this hack.

[2019-10-26 09:54] kytwb commented on #160
That's not a problem, same errors are grouped and can be muted if necessary.

[2019-10-26 10:02] kytwb commented on #160
I just saw you created https://github.com/getferdi/debugger after I opened this ticket; is that related? What did you have in mind with this repository?

[2019-10-26 10:21] vantezzen commented on #160
The debugger is something that I worked on the last few days - its just a better way to view the debug information that Ferdi can output.
My idea with this is that we could create a new menu item "Publish debug information" that would push the debug information to this debugger server to help us get important information without users having to publish screenshots of it to the GitHub issues.

[2019-10-26 10:26] vantezzen commented on #159
It is a new icon so I exported it wrong. It looks like `build-helpers/images/win-app-icon.ico` is 64x64 in Franz and 32x32 in Ferdi - that may be the issue.

[2019-10-26 10:33] vantezzen commented on #143
Could reproduce bug and found issue. I'll implement it upstream.

[2019-10-26 10:48] #143 closed

[2019-10-26 14:02] Deanosim commented on #149
I'm having the same problem where i can't add a new service in the without an account mode, I get this error about the sqlite database being read only

[code]

[2019-10-26 14:05] vantezzen commented on #149
@Deanosim What Operating system are you on?

[2019-10-26 14:07] Deanosim commented on #149
Oh sorry, I'm on Windows 10 using version 5.4.0-beta.4

[2019-10-26 15:54] incace commented on #158
Reloading both services and Ferdi did not fix it on my end. I tried disabling universal dark mode, but still doesn't fix it. Multiple reloads and nothing, but today it randomly loaded for reload.

Here's the interesting part. If I right-click and reload on the icon, it loads white. BUT, if I then open service devtools and then right-click reload while devtools is open, the darkmode loads sometimes

[2019-10-26 16:41] Deanosim commented on #149
I found a work around, turns out the server.sqlite file and the Ferdi folder in AppData/Local are both set to read only for whatever reason, to fix this I just changed the properties on the Ferdi folder, and sever.sqlite file and unchecked the read-only box.
[I got this idea from this thread on stackoverflow](https://stackoverflow.com/a/3330616)

[2019-10-26 17:05] bittner opened #162 "Could not load services and user information"
**Describe the bug**
Error message "Could not load services and user information" at the lower end of the Ferdi UI

**To Reproduce**
Steps to reproduce the behavior:

1. Start Ferdi
2. After a while the message appears
3. Open View > Developer Tools, Network tab
4. See a lot of HTTP 500 status errors going to the following resource
[code]
5. When I click on the Application tab I see the following

[2019-10-26 17:17] incace commented on #129
Unfortunately, this overlays the unread messages notification. Very cool but maybe top right corner is better?

![image](https://user-images.githubusercontent.com/61343/67623411-35469b00-f7e2-11e9-8081-d8ed407c4d61.png)

[2019-10-26 17:41] vantezzen commented on #162
Looks like there is a problem with the database of the internal server.
The file is located inside the application userdata folder (`~/.config/server.sqlite` on Linux). Could you please check:
- if the file if readable and writable
- that the file is >=41KB in size (to make sure it isn't empty)

Could you also please try renaming the database file (so the internal server will create a new one) and

[2019-10-26 17:41] vantezzen commented on #129
@incace The indicator you are writing about is the [hibernation indicator](https://github.com/getferdi/ferdi/issues/75) - services with this indicator are currently hibernating.

Regardless, I moved the hibernation indicator to the bottom left now.

[2019-10-26 17:49] vantezzen commented on #149
No, this is all client-side.

It looks like the Ferdi AppData somehow gets set to readonly mode on Windows. If anyone has any ideas on why this could happen: The server database file is located inside `%appdata%/Ferdi/server.sqlite` and gets copied there from [inside the application file](https://github.com/getferdi/internal-server/blob/master/start.js#L27-L34).
@Deanosim did I understand correct

[2019-10-26 17:50] vantezzen commented on #154
We have released Ferdi 5.4.0-beta.4 now. Could you please update to this version and try again?

[2019-10-26 17:55] vantezzen commented on #158
I have the suspicion that the webview won't update correctly when the darkmode setting gets transmitted.
In the service developer tools you'll now see some output about that the darkmode script is currently doing. When having darkmode enabled, it should first output that it has removed the darkmode and a few seconds later that it has now added the darkmode. In my tests, if the darkmode doesn't wor

[2019-10-26 18:36] tkharo commented on #162
Had the same problem. After update Franz server was replaced with Ferdi server.
@bittner check if you have `https://api.meetfranz.com` or `https://api.getferdi.com` in your settings.

[2019-10-26 23:29] bittner commented on #162
The `~/.config/Ferdi/server.sqlite` file is 57344 bytes of size.

The content of that file is:
[code]

As for the settings, I had https://api.getferdi.com, I removed that and tried again and now I'm locked out as it seems (I'd have to start over with the accounts). The import at http://localhost:45569/import is also not available. :worried: Setting the value to https://api.meetfranz.com doesn't he

[2019-10-27 08:38] bittner commented on #162
I managed to us the Franz server again by:
1. setting `https://api.meetfranz.com` as Server in the settings
1. log out (restarting alone doesn't help)
1. log in using the Franz server credentials

This may seem logical, but it's not 100% intuitive. -- Well, I'm an idiot: It's even written in the user interface, just below the text field. :roll_eyes:

Maybe we can help idiots like me by either aski

[2019-10-27 08:55] bittner commented on #162
Somehow the problems I face I somewhat related to workspaces. Or at least that feature is severely affected. I originally added another Slack team and wanted to add that to a specific workspace. That didn't work and the above mentioned messages started coming up (or maybe they were there before, I don't exactly remember). Now I figured the entire Slack team was gone; I added it again and tried to

[2019-10-27 09:47] vantezzen commented on #162
I looked through the changes between beta.2 and beta.4 again and I think I found your issue:
In order to implement the user settings feature, we had to add the table `users` to the local database.
New users would have this table in their database but as you already used the "Use Ferdi without an Account" feature on beta.2, your local database wan't updated. We'll have to look into building a migra

[2019-10-27 09:49] vantezzen commented on #146
I now added the possible fix I suggested via a0ac009c. It looks to me that the errors are gone and everything works as intended but we'll have to test that.

[2019-10-27 13:57] vantezzen commented on #158
It looks like the recipe script sometimes can't get loaded and instead throws this error:
![Screenshot](https://user-images.githubusercontent.com/10333196/67635549-e32c7500-f8c8-11e9-80c1-9527107683ff.png)
It can't load the module because the module "did not self-register". Looking online, most people suggested trying to reinstall `node_modules` and rebuilding the modules but both did nothing.

At

[2019-10-27 16:09] pztrn commented on #154
Well... :D

[ferdi-traces.log](https://github.com/getferdi/ferdi/files/3776098/ferdi-traces.log)

[2019-10-27 16:13] pztrn commented on #154
Tried to delete app's data, re-login, and no, isn't working. No requests for webcam/microphone access and no a/v in Discord and Riot.

[2019-10-27 16:16] vantezzen commented on #154
You are on beta.4? Hmm, can't find anything in the logs you send either.

[2019-10-27 16:22] pztrn commented on #154
Yes it was from beta.4 when I try to launch Ferdi with services that was created on beta.2. Something went wrong here.

Actually, I've re-logged into Ferdi (using self-hosted server), first login went fine, but I can't start it anymore - something went wrong with logs from above. I'll create another issue for that.

Main issue still unresolved - no requests, no a/v.

[2019-10-27 16:30] #159 closed

[2019-10-27 16:31] pztrn opened #166 "Ferdi is always crashing on second launch"
I'm on 5.4.0-beta.4 and macos 10.15.

When I start ferdi for first time - everything is okay, I can login to my self-hosted Ferdi server and use synced configuration.

When I stop it and start again - PSoD (purple screen of death :D) with "Something went wrong" label appeared. I cannot use Ferdi anymore until I've remove app's data.

[Logs from devtools](https://github.com/getferdi/ferdi/files/377

[2019-10-27 16:40] vantezzen commented on #166
The only error I can see from your logs is a problem with the announcement. I have now updated the announcement send by the server which may have resolved this issue.

[2019-10-27 16:55] pztrn commented on #166
Tried 2 times, yes, it is fixed now :)

[2019-10-27 16:55] #166 closed

[2019-10-27 22:00] markwalkom commented on #162
I was on beta2 and upgraded and had this. When I checked there was a `users` table and even after I created one per the above comments, I still get this error.

[2019-10-28 13:16] vantezzen commented on #162
@markwalkom Can you try renaming the database file just to make sure the problem is in the database migration and not the code.

[2019-10-28 13:29] vantezzen commented on #96
Alternatively, we could think about adding a library like [twemoji](https://github.com/twitter/twemoji) to add better emoji support for some platforms.

[2019-10-28 21:41] markwalkom commented on #162
That "worked", but it removed all my accounts :(

[2019-10-29 00:44] ammarmalhas commented on #41
I just installed and tried version 5.3.3-beta.2 there is a major fault with the epassword scheme! On the locked screen you can select menu Ferdi>Settings which opens the settings page, click "X" and you are in the workspace/services ...etc!
The password should lock everything but the "Quit" command!

[2019-10-29 00:45] ammarmalhas commented on #41
May i ask what the relationship is between Franz and Ferdi? they are identical but with different colors, even the account I created in Franz is the same in Ferdi!?

[2019-10-29 00:48] ammarmalhas commented on #41
Why is this issue marked "Closed"? Is it? Why am I able to comment here if it is indeed closed?

[2019-10-29 01:10] ammarmalhas opened #168 "Password lock bypass and password storage"
**Describe the bug**
I just installed and tried version 5.4.0-beta.4, there is a major fault with the password scheme: you can bypass it easily!

**To Reproduce**
Steps to reproduce the behavior:

1. Go to menu 'Ferdi>Settings' (settings page opens)
2. Click on 'X' to close the settings page,
AND you are in the app and can work without having to input a password!

**Expected behavior**
I expected

[2019-10-29 01:12] ammarmalhas opened #169 "Ferdi or Franz"
May I know what the relationship is between Franz and Ferdi? They seem identical but with different colors, even the account I created in Franz is the same in Ferdi!?
Are they from the same developer and why have two identical apps?

[2019-10-29 01:47] ammarmalhas commented on #168
Menu items "SERVICES" and selecting any service there while in locked screen also opens up the service and unlocks the app without a password.
Menu item "VIEW>Toggle Developer Tools" opens the tools, it should not do so when the app is locked.
Menu item "VIEW>Open Quick Switch", actually opens the dialog box of quick switch but under the lock screen, you will see the opened Quick Switch dialog whe

[2019-10-29 07:27] vantezzen commented on #168
You could also open the developer tools and execute a specific command to disable the lock from there.

I think . we should just disable most of the menu items while on the lock screen.

[2019-10-29 07:30] vantezzen commented on #169
Ferdi and Franz are similar but not the same.

Ferdi is a [fork](https://en.wikipedia.org/wiki/Fork_(software_development)) of Franz. We (@kytwb and me) were unhappy about how Franz is developing - making more and more features locked behind a paywall. Thanks to Franz being open-source, we could ["Fork"](https://en.wikipedia.org/wiki/Fork_(software_development)) Franz and add various improvements

[2019-10-29 07:33] vantezzen commented on #162
Of course, it was just for testing.
To you mind sharing your original database with me for testing? The database contains your services but no service content like your messages. Otherwise I'll try to find the error together with you over GitHub.

[2019-10-29 07:34] vantezzen commented on #41
This issue is closed but not locked. We closed it as the feature requested has been implemented but didn't lock in case there are more comments about this.

[2019-10-29 07:37] kytwb commented on #168
@ammarmalhas Thank you for reporting this, this is indeed a flaw in the lock system. Your feedback has been taken into consideration and a fix will be provided in the next version.

[2019-10-29 07:39] kytwb commented on #169
Exactly, thanks for explaining @vantezzen! 😄 I have been a bit busy with things in real life but the blog post is coming soon.

[2019-10-29 07:51] #169 closed

[2019-10-29 07:53] kytwb commented on #154
I'll be taking a look at it today 🙏

[2019-10-29 08:06] markwalkom commented on #162
Yeah I can do that, I am https://keybase.io/markwalkom if that helps?

[2019-10-29 10:24] AGCaesar opened #170 "Upgrade to Electron 7"
Arch Linux just upgraded their electron version to 7.
Ferdi build with my package fails of coarse again.:D I just wanted to know if I need to fix the package or Ferdi does not work with electron 7 at the moment :)

[2019-10-29 12:53] vantezzen commented on #170
Ferdi is currently using Electron 6 so you should probably update your package to use that. Are there any specific error messages you are getting?

[2019-10-29 15:41] vantezzen commented on #162
@markwalkom Can you please revert the move of your old database again (so Ferdi is using your original database) and execute this SQL command in the database:
[code]
and see it it works again?

[2019-10-29 19:50] Makazzz opened #171 "Ferdi Todo not available in https://api.getferdi.com and local server"
**Describe the bug**
Ferdi todo in the Todos tabs is not available anymore if I am not in https://api.franzinfra.com

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Todos
2. See error (the dropdown is blank)

**Expected behavior**
Normally Ferdi/Franz Todos should appears to be opened.

**Desktop (please complete the following information):**

- OS: Windows 7
- Version: 5.4.0-beta.3

[2019-10-29 19:51] Makazzz commented on #171
Should this be feature request instead?

[2019-10-29 20:00] vantezzen commented on #171
This is a change on Franz's server that we cannot change. The only thing we could do is change the default Todo Server to something else.

[2019-10-29 20:01] Makazzz commented on #171
So like a todo.getferdi.com?

[2019-10-29 20:02] vantezzen commented on #171
Either that or a more well-known service like Todoist.

[2019-10-29 20:03] Makazzz commented on #171
But I cant choose my todo server without being in franzinfra api

[2019-10-29 20:18] Makazzz opened #172 "Problem with color accent"
**Describe the bug**
If I change my color with darkmode the color is now in the font of the button and the rectangle is still purple. And now the white text is not showing correctly. Only when I hover with my cursor the button, I can see the text.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Settings
3. Scroll down to Accent of color
4. Change to something else like #0ef

**Expecte

[2019-10-29 20:20] markwalkom commented on #162
That worked @vantezzen! :D

[2019-10-29 20:22] vantezzen commented on #171
Oh sorry, I only now understood the problem. Franz/Ferdi 5.4.0 seems to be expecting some new options from <https://api.getferdi.com/v1/features>. If you are using Ferdi's API you should now be able to use Ferdi Todos again - can you check that?

[2019-10-29 20:24] Makazzz commented on #171
Its is working now! I can use Franz todo app (or todoist. Thanks.

[2019-10-29 20:25] vantezzen commented on #162
Ferdi is not only expecting the table "users" to be in the database but also a row with the user ID of 1 to be existent - this row will be used to save the settings.
For this update you'll have to run these two commands yourself, for future updates we'll have to create a migration assistant when making changes to the database structure.

[2019-10-29 20:25] #171 closed

[2019-10-29 20:37] vantezzen commented on #171
By "local server mode" you mean using Ferdi without an account? The local server has had the same incomplete feature list that ferdi-server had, but I fixed it via <https://github.com/getferdi/internal-server/commit/8249d625bbd80498ae18257a52e480d0ebb368c0> - things should work again with the next build.

[2019-10-29 20:48] Makazzz commented on #171
Ah ok thanks!

[2019-10-29 20:50] Makazzz commented on #168
If I can suggest something; someone can check in the settings.json file of Ferdi and find the password. So is there a way to do some hash to the password and when someone check the settings file you only see to hashing number ? like "MyPassword007" to "9_8h3=710d28h2r3@f98h3289t4-t23t320" ?

[2019-10-30 09:05] #146 closed

[2019-10-30 09:05] #144 closed

[2019-10-30 09:06] vantezzen commented on #69
May be unnecessary when implementing #113

[2019-10-30 12:02] JordyScript commented on #149
I have never had this issue before using Franz (which i stopped using) so maybe some code was introduced in this fork that caused the installation of Ferdi to break in this way (by making the appdata folder read only).

[2019-10-30 13:07] vantezzen commented on #149
We have introduced the [internal-server](https://github.com/getferdi/internal-server) with this fork and version, but I don't understand how and why this could would make the AppData folder readonly.

[2019-10-30 13:37] adamhsparks opened #177 "Login for services with 2FA not remembered"
**Bug Description**
For services with which I have 2FA enabled, I must log in every time in spite of checking "Remember Me" (Login and pass) and "Remember this Computer" (2FA).

This occurs with Slack and Google Hangouts. For Slack services that I do not have 2FA enabled, the login is remembered. For other services, _e.g._, Whatsapp, the login is remembered. It's only for those services with 2FA t

[2019-10-30 14:29] adamhsparks commented on #177
Yes, Firefox remembers the logins between sessions. Ferdi does not.

On Wed, 30 Oct 2019 at 11:15, Bennett <notifications@github.com> wrote:

--
Dr Adam H. Sparks
http://adamhsparks.netlify.com/
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C313

Phone (+61) 07 46311948  |  Mobile 0415 489 422 | Twitter @adamhsparks
<https://twitter.com/adamhsparks>

Institute

[2019-10-30 17:22] pawelantczak commented on #177
Hangouts works for me, with 2FA enabled on Google account.
Mac, v5.3.3.

[2019-10-30 20:24] adamhsparks commented on #177
I can try one of my Mac's later when I have access to them. But that still
doesn't fix the issue I have with the Linux machine I'm using right now...

On Wed, 30 Oct 2019 at 14:22, Paweł Antczak <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
http://adamhsparks.netlify.com/
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C313

Phone (+61) 07 46311948  |

[2019-10-30 22:17] pawelantczak commented on #177
I believe you, just wanted to indicate that is't not black and white bug.

[2019-10-31 03:47] MichaelBui opened #178 "Still getting in-app news from Franz"
![image](https://user-images.githubusercontent.com/1146708/67917449-08282d00-fbd4-11e9-8b1c-d59bbaaf8465.png)
Just want to understand our direction

[2019-10-31 05:43] kytwb commented on #178
@MichaelBui This is an announcement from Franz, not Ferdi. We have fixed the issue to make sure Ferdi only gets announcements coming from Ferdi with https://github.com/getferdi/ferdi/commit/73ecb428bb699a2dfb27f88e3d9b803c71d881b7. Sorry for the inconvenience.

[2019-10-31 05:44] kytwb commented on #178
To further answer your question, Ferdi will forever be free. We have decided to let the community fund the development if they will/can using [Open Collective](https://opencollective.com/getferdi). No freemium model, purely donation based.

[2019-10-31 05:47] kytwb commented on #87
I think the last bit to be taken care of here is to disable in-app updates for Portable apps? Or is that not relevant anymore?

[2019-10-31 06:45] MichaelBui commented on #178
Thanks for being free 👍
Anyway, I'm using v5.4.0-beta.4 😅

[2019-10-31 06:51] MichaelBui opened #179 "Configurable inactivity lock"
I'm in love with our current Password Lock and it will be great if we can have inactivity lock:
* The app lost focus for a X minutes
* X is configurable - `0` means disable inactivity lock
* Should be able to have service notifications with hidden content while being locked

[2019-10-31 06:57] MichaelBui opened #180 "Click on notification doesn't go to the service in another workspace"
Currently if when there is a notification, user should go to correct service in correct workspace.

Expected behaviour should be opening the service in:
 - Current workspace is the service is enabled in current workspace
 - First enabled workspace if the service is not enabled in current workspace but enabled in another workspace(s).
 - All services if the service is not enabled at any workspace(s

[2019-10-31 07:02] kytwb commented on #178
Thank you for specifying your version. I looked at it a bit more and realized we haven't changed `getLatestNews` to fetch news only from Ferdi. It was still fetching it based on the server/API you use:

https://github.com/getferdi/ferdi/blob/a0ac009c44b210df4d79ffedbdd892fe7302d22e/src/api/server/ServerApi.js#L461

[2019-10-31 07:06] kytwb commented on #178
Fixed in d0afab6 and will ship in the next release.
Thank you for reporting!

[2019-10-31 07:06] #178 closed

[2019-10-31 08:38] ammarmalhas opened #181 "Upgrade button not working"
**Describe the bug**
Today I got a note that there is a %50 off on upgrade for "Halloween". Pressing the button does nothing!
How do I take advantage of this offer?

[2019-10-31 10:05] Makazzz commented on #87
Normally vantezzen did it with this commit 098c46e.

[2019-10-31 10:25] grmon commented on #98
Same problem here, but no update request in the Dev Tools.

[2019-10-31 11:52] laur89 opened #182 "Add window icon"
Would be nice if Ferdi included window icon, so it's easier to identify in window titles.
Useful in some (tiling) windowmangers in stacked or tabbed layouts, where only titlebars may be visible.

[2019-10-31 12:07] vantezzen commented on #181
This is an issue we have fixed and will be published via the next update. Ferdi is currently displaying offers that Franz is offering.
As Ferdi doesn't have any premium plans and you won't have to pay for it, this deal doesn't exist for Ferdi.

[2019-10-31 13:16] kytwb commented on #181
First part is related to https://github.com/getferdi/ferdi/issues/178.

[2019-10-31 15:52] ammarmalhas commented on #181
OK, thank you for clearing this, I thought it was Ferdi selling "Upgrades"!
I await the updated version.
Thanks for all your great work.

[2019-10-31 17:44] #181 closed

[2019-10-31 20:41] JordyScript commented on #71
DarkReader doesn't seem to be working on Google Calendar on my installation, neither does adding content to the darkmode.css for Google Calendar help.

Ferdi 5.4.0-beta.2
Windows 10

Should i open an issue, or is there a simple explanation?

[2019-11-01 09:30] grmon opened #183 "Disabled services show last enabled service"
**Describe the bug**
When disabling a service via sidebar, it shows the last enabled service contents (fully functional).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to sidebar
2. Right-Click on enabled Service
3. Click Disable Service
4. See last enabled service in list

**Expected behavior**
Service tab should be hidden

**Screenshots**
<img width="1680" alt="Screenshot 2019-11-01

[2019-11-01 10:25] ammarmalhas opened #184 "Voice recording in Whatsapp/Telegram services does not work"
**Describe the bug**
Trying to send a recorded voice message in the WhatsApp and Telegram services but the messages goes out empty.
Either Ferdi is not getting microphone permission on the MAC OS system or something else is wrong.

**To Reproduce**
1. Go to either service inn Ferdi, select to send a message to a recipient (one of your accounts would be easier to check),
2. Click on microphone icon

[2019-11-01 11:31] vantezzen commented on #184
May be related to #154

[2019-11-01 11:32] vantezzen commented on #154
Related: https://electronjs.org/docs/api/system-preferences#systempreferencesaskformediaaccessmediatype-macos

[2019-11-01 11:43] vantezzen commented on #180
Looks to be a bug in Franz itself and should be implemented there to help Franz users as well.

[2019-11-01 12:05] vantezzen commented on #172
Should be fixed by the next build.

[2019-11-01 12:05] #172 closed

[2019-11-01 12:07] mthomos opened #185 "Provide RPM package"
**Is your feature request related to a problem? Please describe.**
Not exactly, just provide rpm package for supported systems

[2019-11-01 12:16] ammarmalhas commented on #154
Sorry I know nothing about the programing but v5.4.0 Beta 4 still does not ask for Mic/Camera permission! Is there a way to allow this until it is fixed in a new update?

[2019-11-01 12:22] ammarmalhas commented on #184
It is. The issue seems to be Ferdi not obtaining Mic/Camera permission from MAC OS.

[2019-11-02 13:15] AGCaesar commented on #170
Buliding with electron7 finishes normally, the developer console shows this:
Uncaught Error: Module did not self-register.
    at process.func (electron/js2c/asar.js:138)
    at process.func [as dlopen] (electron/js2c/asar.js:138)
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:922)
    at Object.func (electron/js2c/asar.js:138)
    at Object.func [as .node] (electron/js2c/a

[2019-11-02 20:03] DanielValahul opened #187 "Cannot add a service"
I installed Ferdi 5.4 beta 4 on my Windows PC. I chose not to use an account. Then I tried to add a service (Whatsapp) but it didn't do anything. I click on save and nothing happens.

I tried multiple services and nothing seems to work. I also tried to create a workspace but nothing happens.

[2019-11-03 15:25] vantezzen commented on #187
Duplicate of #149.

[2019-11-03 15:25] #187 closed

[2019-11-03 15:57] Makazzz opened #188 "Removing zh-Hant.json duplicate"
Remove [this file zh-Hant.json](https://github.com/getferdi/ferdi/blob/develop/src/i18n/locales/zh-Hant.json) because it is buggy on windows and it is a duplicate of the same file.

PS: Maybe checking first what FerdiBot update which file first before deleting one of them.

[2019-11-03 15:57] kmplngj opened #189 "Problems settings up Ferdi with Docker Server"
Hello,

I'm new to Ferdi. I also did not used Franz before.

I installed Ferdi on macOS 10.15 (via homebrew) and I installed the server in my CentOS Docker Stack (running behind Traefik Reverse Proxy).

In Ferdi I changed the server URL to my server. I created an account. But now I could not add any of the services to Ferdi. I click on any of the services and nothings happens.

But I could be some

[2019-11-03 16:01] kmplngj commented on #189
I think my server installation could be the problem. But how could I debug it?

[2019-11-03 16:06] vantezzen commented on #189
In the Developer Tools under "Network" you can view the responses sent by your server. This response normally contains an error message - can you check that?

[2019-11-03 18:39] Makazzz opened #190 "Ferdi dosn't close properly (1 process is still open)"
**Describe the bug**
When closing Ferdi, there is still one and only process that is not shuting down and cause to maybe break something after or blocking ejection of the drive etc. And the process "go outside of the warpper (FerdiPortable)".

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Settings
2. Click on Quit
3. Go to Task Manager of Windows
4. See the process still up

**Expect

[2019-11-03 18:44] Makazzz opened #191 "Windows 10 need --vs2015 for building"
In the readme it is asking to use this command line for windows;

[code]

but I just did a build of Ferdi with this commit 4cb24eb and I was getting error when using this line;

npm run rebuild

So I used the command line for windows 7 (in my windows 10 machine) and after re-using rebuild and build.. everything worked.

So my suggestion is to do
this
[code]

to this
[code]

[2019-11-03 22:08] vantezzen commented on #190
Do you have "keep Ferdi running in Background" enabled in the settings?

[2019-11-03 22:09] Makazzz commented on #190
No

[2019-11-04 03:55] kytwb commented on #191
Addressed via https://github.com/getferdi/ferdi/commit/33a1daa4dc0a01a8d2fd68300ddd63503aab8d41. Thank you for testing on Windows 10 and reporting.

[2019-11-04 03:55] #191 closed

[2019-11-04 03:56] kytwb commented on #188
I remember doing it a while back but it must have been reintroduced by FerdiBot yeah. Related: [Git is case-sensitive and your filesystem may not be - Weird folder merging on Windows](https://www.hanselman.com/blog/GitIsCasesensitiveAndYourFilesystemMayNotBeWeirdFolderMergingOnWindows.aspx)

[2019-11-04 03:58] Makazzz commented on #191
For more information in the error log it was saying that the build was needing Visual Studio v140 (so VS2015) and not 2017 for windows 10

[2019-11-04 09:29] vantezzen commented on #77
@AGCaesar I'd like to add your AUR package to the readme - Which package and command should I add? Which package works best?

[2019-11-04 09:33] vantezzen commented on #185
We won't provide an RPM package ourselves but anyone is free to create and maintain one - similar to how the [AUR package](https://aur.archlinux.org/packages/ferdi/) is maintained.
If anyone does package Ferdi to an RPM package I would be happy to add it to the readme.

[2019-11-04 09:44] vantezzen commented on #188
I now changed CrowdIn to using "zh-HANT" instead of "zh-Hant" (as seen in #192) and deleted "zh-Hant.json"

[2019-11-04 09:44] #188 closed

[2019-11-04 10:41] kmplngj commented on #189
I think that is: E_INVALID_JWT_TOKEN: invalid signature

I added a screenshot of the server startup messages.

![Bildschirmfoto 2019-11-04 um 11 37 18](https://user-images.githubusercontent.com/562965/68115141-fc03de80-fef7-11e9-8150-e19e0b8df0cd.png)

[2019-11-04 11:35] vantezzen commented on #189
Can you please log out and back in inside Ferdi?

[2019-11-04 11:47] kmplngj commented on #189
![Bildschirmfoto 2019-11-04 um 12 46 39](https://user-images.githubusercontent.com/562965/68118807-358d1780-ff01-11e9-9083-f4eff7801176.png)

Not possible now :(

[2019-11-04 12:34] vantezzen commented on #189
You can click „Abmelden“ in the bottom left instead

[2019-11-04 18:21] Makazzz commented on #190
It seem to not always do that (but I am on another PC right now..) I will have to do more check about this.

[2019-11-05 06:05] kytwb commented on #185
@vantezzen Couldn't we just add the `rpm` target so the rpm package automatically gets delivered with the assets? It's natively supported by [electron-builder](https://www.electron.build/configuration/linux).

[2019-11-05 06:29] kytwb commented on #154
@vantezzen thanks for the tip!
@ammarmalhas I'm on it will update this issue when fixed and shipped.

[2019-11-05 08:24] mattydebie opened #194 "Workspace switching shortcut not working"
**Describe the bug**
Normally you should be able to use <kbd>ctrl+alt+[0-9]</kbd> to switch between workspaces. Right now only the 0 (all services) works.

**To Reproduce**
Steps to reproduce the behavior:

1. Add workspaces
2. press <kbd>ctrl+alt+1</kbd>

**Expected behavior**
When using the shortcut, you should switch between workspaces.

**Desktop (please complete the following information):**

[2019-11-05 08:54] kytwb opened #195 "Command npm run dev fails on gulp scripts"
**Describe the bug**
I had to re-setup the development environment on a new machine.
The command `npm run dev` crashes on the `scripts` part:

[code]

I notice the error is on the server submodule (`/Users/kytwb/Projects/ferdi/src/server`).
`server` is checked out on the `master` branch.

I see the plugin in the ferdi repository `.babelrc` but I'm confused the error is introduced by the server sub